[:MFN_M02
 {:version "2.3.1"}
 [:MSH
  {:required false, :repeats false}
  [:field-separator
   {:field "MSH.1", :required true, :repeats false, :type "ST"}]
  [:encoding-characters
   {:field "MSH.2", :required true, :repeats false, :type "ST"}]
  [:sending-application
   {:field "MSH.3", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:sending-facility
   {:field "MSH.4", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:receiving-application
   {:field "MSH.5", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:receiving-facility
   {:field "MSH.6", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:dateortime-of-message
   {:field "MSH.7", :required false, :repeats false, :type "TS"}
   [:time-of-an-event
    {:field "TS.1", :required false, :repeats false, :type "ST"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ST"}]]
  [:security
   {:field "MSH.8", :required false, :repeats false, :type "ST"}]
  [:message-type
   {:field "MSH.9", :required true, :repeats false, :type "MSG"}
   [:message-type
    {:field "MSG.1", :required false, :repeats false, :type "ID"}]
   [:trigger-event
    {:field "MSG.2", :required false, :repeats false, :type "ID"}]
   [:message-structure
    {:field "MSG.3", :required false, :repeats false, :type "ID"}]]
  [:message-control-id
   {:field "MSH.10", :required true, :repeats false, :type "ST"}]
  [:processing-id
   {:field "MSH.11", :required true, :repeats false, :type "PT"}
   [:processing-id
    {:field "PT.1", :required false, :repeats false, :type "ID"}]
   [:processing-mode
    {:field "PT.2", :required false, :repeats false, :type "ID"}]]
  [:version-id
   {:field "MSH.12", :required true, :repeats false, :type "VID"}
   [:version-id
    {:field "VID.1", :required false, :repeats false, :type "ID"}]
   [:internationalization-code
    {:field "VID.2", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ST"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ST"}]]
   [:international-version-id
    {:field "VID.3", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ST"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ST"}]]]
  [:sequence-number
   {:field "MSH.13", :required false, :repeats false, :type "NM"}]
  [:continuation-pointer
   {:field "MSH.14", :required false, :repeats false, :type "ST"}]
  [:accept-acknowledgment-type
   {:field "MSH.15", :required false, :repeats false, :type "ID"}]
  [:application-acknowledgment-type
   {:field "MSH.16", :required false, :repeats false, :type "ID"}]
  [:country-code
   {:field "MSH.17", :required false, :repeats false, :type "ID"}]
  [:character-set
   {:field "MSH.18", :required false, :repeats true, :type "ID"}]
  [:principal-language-of-message
   {:field "MSH.19", :required false, :repeats false, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ST"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ST"}]]
  [:alternate-character-set-handling-scheme
   {:field "MSH.20", :required false, :repeats false, :type "ID"}]]
 [:MFI
  {:required false, :repeats false}
  [:master-file-identifier
   {:field "MFI.1", :required true, :repeats false, :type "CE_0175"}
   [:identifier
    {:field "CE_0175.1", :required false, :repeats false, :type "ST"}]
   [:text
    {:field "CE_0175.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE_0175.3", :required false, :repeats false, :type "ST"}]
   [:alternate-identifier
    {:field "CE_0175.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE_0175.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE_0175.6", :required false, :repeats false, :type "ST"}]]
  [:master-file-application-identifier
   {:field "MFI.2", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:filelevel-event-code
   {:field "MFI.3", :required true, :repeats false, :type "ID"}]
  [:entered-dateortime
   {:field "MFI.4", :required false, :repeats false, :type "TS"}
   [:time-of-an-event
    {:field "TS.1", :required false, :repeats false, :type "ST"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ST"}]]
  [:effective-dateortime
   {:field "MFI.5", :required false, :repeats false, :type "TS"}
   [:time-of-an-event
    {:field "TS.1", :required false, :repeats false, :type "ST"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ST"}]]
  [:response-level-code
   {:field "MFI.6", :required true, :repeats false, :type "ID"}]]
 [:MF_STAFF
  {:required false, :repeats true}
  [:MFE
   {:required false, :repeats false}
   [:recordlevel-event-code
    {:field "MFE.1", :required true, :repeats false, :type "ID"}]
   [:mfn-control-id
    {:field "MFE.2", :required false, :repeats false, :type "ST"}]
   [:effective-dateortime
    {:field "MFE.3", :required false, :repeats false, :type "TS"}
    [:time-of-an-event
     {:field "TS.1", :required false, :repeats false, :type "ST"}]
    [:degree-of-precision
     {:field "TS.2", :required false, :repeats false, :type "ST"}]]
   [:primary-key-value-mfe
    {:field "MFE.4", :required true, :repeats true, :type "varies"}]
   [:primary-key-value-type
    {:field "MFE.5", :required true, :repeats true, :type "ID"}]]
  [:STF
   {:required false, :repeats false}
   [:primary-key-value-stf
    {:field "STF.1", :required true, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ST"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ST"}]]
   [:staff-id-code
    {:field "STF.2", :required false, :repeats true, :type "CX"}
    [:id {:field "CX.1", :required false, :repeats false, :type "ST"}]
    [:check-digit
     {:field "CX.2", :required false, :repeats false, :type "NM"}]
    [:code-identifying-the-check-digit-scheme-employed
     {:field "CX.3", :required false, :repeats false, :type "ID"}]
    [:assigning-authority
     {:field "CX.4", :required false, :repeats false, :type "HD"}
     [:namespace-id
      {:field "HD.1", :required false, :repeats false, :type "IS"}]
     [:universal-id
      {:field "HD.2", :required false, :repeats false, :type "ST"}]
     [:universal-id-type
      {:field "HD.3", :required false, :repeats false, :type "ID"}]]
    [:identifier-type-code
     {:field "CX.5", :required false, :repeats false, :type "IS"}]
    [:assigning-facility
     {:field "CX.6", :required false, :repeats false, :type "HD"}
     [:namespace-id
      {:field "HD.1", :required false, :repeats false, :type "IS"}]
     [:universal-id
      {:field "HD.2", :required false, :repeats false, :type "ST"}]
     [:universal-id-type
      {:field "HD.3", :required false, :repeats false, :type "ID"}]]]
   [:staff-name
    {:field "STF.3", :required false, :repeats true, :type "XPN"}
    [:family+last-name
     {:field "XPN.1", :required false, :repeats false, :type "FN"}
     [:family-name
      {:field "FN.1", :required false, :repeats false, :type "ST"}]
     [:last-name-prefix
      {:field "FN.2", :required false, :repeats false, :type "ST"}]]
    [:given-name
     {:field "XPN.2", :required false, :repeats false, :type "ST"}]
    [:middle-initial-or-name
     {:field "XPN.3", :required false, :repeats false, :type "ST"}]
    [:suffix
     {:field "XPN.4", :required false, :repeats false, :type "ST"}]
    [:prefix
     {:field "XPN.5", :required false, :repeats false, :type "ST"}]
    [:degree
     {:field "XPN.6", :required false, :repeats false, :type "IS"}]
    [:name-type-code
     {:field "XPN.7", :required false, :repeats false, :type "ID"}]
    [:name-representation-code
     {:field "XPN.8", :required false, :repeats false, :type "ID"}]]
   [:staff-type
    {:field "STF.4", :required false, :repeats true, :type "IS"}]
   [:sex {:field "STF.5", :required false, :repeats false, :type "IS"}]
   [:dateortime-of-birth
    {:field "STF.6", :required false, :repeats false, :type "TS"}
    [:time-of-an-event
     {:field "TS.1", :required false, :repeats false, :type "ST"}]
    [:degree-of-precision
     {:field "TS.2", :required false, :repeats false, :type "ST"}]]
   [:activeorinactive-flag
    {:field "STF.7", :required false, :repeats false, :type "ID"}]
   [:department
    {:field "STF.8", :required false, :repeats true, :type "CE_0184"}
    [:identifier
     {:field "CE_0184.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE_0184.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE_0184.3", :required false, :repeats false, :type "ST"}]
    [:alternate-identifier
     {:field "CE_0184.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE_0184.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE_0184.6",
      :required false,
      :repeats false,
      :type "ST"}]]
   [:hospital-service
    {:field "STF.9", :required false, :repeats true, :type "CE_0069"}
    [:identifier
     {:field "CE_0069.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE_0069.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE_0069.3", :required false, :repeats false, :type "ST"}]
    [:alternate-identifier
     {:field "CE_0069.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE_0069.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE_0069.6",
      :required false,
      :repeats false,
      :type "ST"}]]
   [:phone
    {:field "STF.10", :required false, :repeats true, :type "XTN"}
    [:[ {:field "XTN.1", :required false, :repeats false, :type "TN"}]
    [:telecommunication-use-code
     {:field "XTN.2", :required false, :repeats false, :type "ID"}]
    [:telecommunication-equipment-type
     {:field "XTN.3", :required false, :repeats false, :type "ID"}]
    [:email-address
     {:field "XTN.4", :required false, :repeats false, :type "ST"}]
    [:country-code
     {:field "XTN.5", :required false, :repeats false, :type "NM"}]
    [:areaorcity-code
     {:field "XTN.6", :required false, :repeats false, :type "NM"}]
    [:phone-number
     {:field "XTN.7", :required false, :repeats false, :type "NM"}]
    [:extension
     {:field "XTN.8", :required false, :repeats false, :type "NM"}]
    [:any-text
     {:field "XTN.9", :required false, :repeats false, :type "ST"}]]
   [:officeorhome-address
    {:field "STF.11", :required false, :repeats true, :type "XAD"}
    [:street-address
     {:field "XAD.1", :required false, :repeats false, :type "ST"}]
    [:other-designation
     {:field "XAD.2", :required false, :repeats false, :type "ST"}]
    [:city
     {:field "XAD.3", :required false, :repeats false, :type "ST"}]
    [:state-or-province
     {:field "XAD.4", :required false, :repeats false, :type "ST"}]
    [:zip-or-postal-code
     {:field "XAD.5", :required false, :repeats false, :type "ST"}]
    [:country
     {:field "XAD.6", :required false, :repeats false, :type "ID"}]
    [:address-type
     {:field "XAD.7", :required false, :repeats false, :type "ID"}]
    [:other-geographic-designation
     {:field "XAD.8", :required false, :repeats false, :type "ST"}]
    [:countyorparish-code
     {:field "XAD.9", :required false, :repeats false, :type "IS"}]
    [:census-tract
     {:field "XAD.10", :required false, :repeats false, :type "IS"}]
    [:address-representation-code
     {:field "XAD.11", :required false, :repeats false, :type "ID"}]]
   [:institution-activation-date
    {:field "STF.12", :required false, :repeats true, :type "DIN"}
    [:date
     {:field "DIN.1", :required false, :repeats false, :type "TS"}
     [:time-of-an-event
      {:field "TS.1", :required false, :repeats false, :type "ST"}]
     [:degree-of-precision
      {:field "TS.2", :required false, :repeats false, :type "ST"}]]
    [:institution-name
     {:field "DIN.2", :required false, :repeats false, :type "CE"}
     [:identifier
      {:field "CE.1", :required false, :repeats false, :type "ST"}]
     [:text
      {:field "CE.2", :required false, :repeats false, :type "ST"}]
     [:name-of-coding-system
      {:field "CE.3", :required false, :repeats false, :type "ST"}]
     [:alternate-identifier
      {:field "CE.4", :required false, :repeats false, :type "ST"}]
     [:alternate-text
      {:field "CE.5", :required false, :repeats false, :type "ST"}]
     [:name-of-alternate-coding-system
      {:field "CE.6", :required false, :repeats false, :type "ST"}]]]
   [:institution-inactivation-date
    {:field "STF.13", :required false, :repeats true, :type "DIN"}
    [:date
     {:field "DIN.1", :required false, :repeats false, :type "TS"}
     [:time-of-an-event
      {:field "TS.1", :required false, :repeats false, :type "ST"}]
     [:degree-of-precision
      {:field "TS.2", :required false, :repeats false, :type "ST"}]]
    [:institution-name
     {:field "DIN.2", :required false, :repeats false, :type "CE"}
     [:identifier
      {:field "CE.1", :required false, :repeats false, :type "ST"}]
     [:text
      {:field "CE.2", :required false, :repeats false, :type "ST"}]
     [:name-of-coding-system
      {:field "CE.3", :required false, :repeats false, :type "ST"}]
     [:alternate-identifier
      {:field "CE.4", :required false, :repeats false, :type "ST"}]
     [:alternate-text
      {:field "CE.5", :required false, :repeats false, :type "ST"}]
     [:name-of-alternate-coding-system
      {:field "CE.6", :required false, :repeats false, :type "ST"}]]]
   [:backup-person-id
    {:field "STF.14", :required false, :repeats true, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ST"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ST"}]]
   [:email-address
    {:field "STF.15", :required false, :repeats true, :type "ST"}]
   [:preferred-method-of-contact
    {:field "STF.16", :required false, :repeats false, :type "CE_0185"}
    [:identifier
     {:field "CE_0185.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE_0185.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE_0185.3", :required false, :repeats false, :type "ST"}]
    [:alternate-identifier
     {:field "CE_0185.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE_0185.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE_0185.6",
      :required false,
      :repeats false,
      :type "ST"}]]
   [:marital-status
    {:field "STF.17", :required false, :repeats false, :type "CE_0002"}
    [:identifier
     {:field "CE_0002.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE_0002.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE_0002.3", :required false, :repeats false, :type "ST"}]
    [:alternate-identifier
     {:field "CE_0002.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE_0002.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE_0002.6",
      :required false,
      :repeats false,
      :type "ST"}]]
   [:job-title
    {:field "STF.18", :required false, :repeats false, :type "ST"}]
   [:job-codeorclass
    {:field "STF.19", :required false, :repeats false, :type "JCC"}
    [:job-code
     {:field "JCC.1", :required false, :repeats false, :type "IS"}]
    [:job-class
     {:field "JCC.2", :required false, :repeats false, :type "IS"}]]
   [:employment-status
    {:field "STF.20", :required false, :repeats false, :type "IS"}]
   [:additional-insured-on-auto
    {:field "STF.21", :required false, :repeats false, :type "ID"}]
   [:driver’s-license-number-staff
    {:field "STF.22", :required false, :repeats false, :type "DLN"}
    [:drivers-license-number
     {:field "DLN.1", :required false, :repeats false, :type "ST"}]
    [:issuing-state,-province,-country
     {:field "DLN.2", :required false, :repeats false, :type "IS"}]
    [:expiration-date
     {:field "DLN.3", :required false, :repeats false, :type "DT"}]]
   [:copy-auto-ins
    {:field "STF.23", :required false, :repeats false, :type "ID"}]
   [:auto-ins-expires
    {:field "STF.24", :required false, :repeats false, :type "DT"}]
   [:date-last-dmv-review
    {:field "STF.25", :required false, :repeats false, :type "DT"}]
   [:date-next-dmv-review
    {:field "STF.26", :required false, :repeats false, :type "DT"}]]
  [:PRA
   {:required false, :repeats false}
   [:primary-key-value-pra
    {:field "PRA.1", :required true, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ST"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ST"}]]
   [:practitioner-group
    {:field "PRA.2", :required false, :repeats true, :type "CE_0358"}
    [:identifier
     {:field "CE_0358.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE_0358.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE_0358.3", :required false, :repeats false, :type "ST"}]
    [:alternate-identifier
     {:field "CE_0358.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE_0358.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE_0358.6",
      :required false,
      :repeats false,
      :type "ST"}]]
   [:practitioner-category
    {:field "PRA.3", :required false, :repeats true, :type "IS"}]
   [:provider-billing
    {:field "PRA.4", :required false, :repeats false, :type "ID"}]
   [:specialty
    {:field "PRA.5", :required false, :repeats true, :type "SPD"}
    [:specialty-name
     {:field "SPD.1", :required false, :repeats false, :type "ST"}]
    [:governing-board
     {:field "SPD.2", :required false, :repeats false, :type "ST"}]
    [:eligible-or-certified
     {:field "SPD.3", :required false, :repeats false, :type "ID"}]
    [:date-of-certification
     {:field "SPD.4", :required false, :repeats false, :type "DT"}]]
   [:practitioner-id-numbers
    {:field "PRA.6", :required false, :repeats true, :type "PLN"}
    [:id-number
     {:field "PLN.1", :required false, :repeats false, :type "ST"}]
    [:type-of-id-number
     {:field "PLN.2", :required false, :repeats false, :type "IS"}]
    [:stateorother-qualifying-info
     {:field "PLN.3", :required false, :repeats false, :type "ST"}]
    [:expiration-date
     {:field "PLN.4", :required false, :repeats false, :type "DT"}]]
   [:privileges
    {:field "PRA.7", :required false, :repeats true, :type "PIP"}
    [:privilege
     {:field "PIP.1", :required false, :repeats false, :type "CE"}
     [:identifier
      {:field "CE.1", :required false, :repeats false, :type "ST"}]
     [:text
      {:field "CE.2", :required false, :repeats false, :type "ST"}]
     [:name-of-coding-system
      {:field "CE.3", :required false, :repeats false, :type "ST"}]
     [:alternate-identifier
      {:field "CE.4", :required false, :repeats false, :type "ST"}]
     [:alternate-text
      {:field "CE.5", :required false, :repeats false, :type "ST"}]
     [:name-of-alternate-coding-system
      {:field "CE.6", :required false, :repeats false, :type "ST"}]]
    [:privilege-class
     {:field "PIP.2", :required false, :repeats false, :type "CE"}
     [:identifier
      {:field "CE.1", :required false, :repeats false, :type "ST"}]
     [:text
      {:field "CE.2", :required false, :repeats false, :type "ST"}]
     [:name-of-coding-system
      {:field "CE.3", :required false, :repeats false, :type "ST"}]
     [:alternate-identifier
      {:field "CE.4", :required false, :repeats false, :type "ST"}]
     [:alternate-text
      {:field "CE.5", :required false, :repeats false, :type "ST"}]
     [:name-of-alternate-coding-system
      {:field "CE.6", :required false, :repeats false, :type "ST"}]]
    [:expiration-date
     {:field "PIP.3", :required false, :repeats false, :type "DT"}]
    [:activation-date
     {:field "PIP.4", :required false, :repeats false, :type "DT"}]
    [:facility
     {:field "PIP.5", :required false, :repeats false, :type "EI"}
     [:entity-identifier
      {:field "EI.1", :required false, :repeats false, :type "ST"}]
     [:namespace-id
      {:field "EI.2", :required false, :repeats false, :type "IS"}]
     [:universal-id
      {:field "EI.3", :required false, :repeats false, :type "ST"}]
     [:universal-id-type
      {:field "EI.4", :required false, :repeats false, :type "ID"}]]]
   [:date-entered-practice
    {:field "PRA.8", :required false, :repeats false, :type "DT"}]]]]
