[:NMD_N02
 {:version "2.3.1"}
 [:MSH
  {:required false, :repeats false}
  [:field-separator
   {:field "MSH.1", :required true, :repeats false, :type "ST"}]
  [:encoding-characters
   {:field "MSH.2", :required true, :repeats false, :type "ST"}]
  [:sending-application
   {:field "MSH.3", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:sending-facility
   {:field "MSH.4", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:receiving-application
   {:field "MSH.5", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:receiving-facility
   {:field "MSH.6", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:dateortime-of-message
   {:field "MSH.7", :required false, :repeats false, :type "TS"}
   [:time-of-an-event
    {:field "TS.1", :required false, :repeats false, :type "ST"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ST"}]]
  [:security
   {:field "MSH.8", :required false, :repeats false, :type "ST"}]
  [:message-type
   {:field "MSH.9", :required true, :repeats false, :type "MSG"}
   [:message-type
    {:field "MSG.1", :required false, :repeats false, :type "ID"}]
   [:trigger-event
    {:field "MSG.2", :required false, :repeats false, :type "ID"}]
   [:message-structure
    {:field "MSG.3", :required false, :repeats false, :type "ID"}]]
  [:message-control-id
   {:field "MSH.10", :required true, :repeats false, :type "ST"}]
  [:processing-id
   {:field "MSH.11", :required true, :repeats false, :type "PT"}
   [:processing-id
    {:field "PT.1", :required false, :repeats false, :type "ID"}]
   [:processing-mode
    {:field "PT.2", :required false, :repeats false, :type "ID"}]]
  [:version-id
   {:field "MSH.12", :required true, :repeats false, :type "VID"}
   [:version-id
    {:field "VID.1", :required false, :repeats false, :type "ID"}]
   [:internationalization-code
    {:field "VID.2", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ST"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ST"}]]
   [:international-version-id
    {:field "VID.3", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ST"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ST"}]]]
  [:sequence-number
   {:field "MSH.13", :required false, :repeats false, :type "NM"}]
  [:continuation-pointer
   {:field "MSH.14", :required false, :repeats false, :type "ST"}]
  [:accept-acknowledgment-type
   {:field "MSH.15", :required false, :repeats false, :type "ID"}]
  [:application-acknowledgment-type
   {:field "MSH.16", :required false, :repeats false, :type "ID"}]
  [:country-code
   {:field "MSH.17", :required false, :repeats false, :type "ID"}]
  [:character-set
   {:field "MSH.18", :required false, :repeats true, :type "ID"}]
  [:principal-language-of-message
   {:field "MSH.19", :required false, :repeats false, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ST"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ST"}]]
  [:alternate-character-set-handling-scheme
   {:field "MSH.20", :required false, :repeats false, :type "ID"}]]
 [:CLOCK_AND_STATS_WITH_NOTES
  {:required false, :repeats true}
  [:CLOCK
   {:required false, :repeats false}
   [:NCK {:required false, :repeats false}]
   [:NTE
    {:required false, :repeats true}
    [:set-id-nte
     {:field "NTE.1", :required false, :repeats false, :type "SI"}]
    [:source-of-comment
     {:field "NTE.2", :required false, :repeats false, :type "ID"}]
    [:comment
     {:field "NTE.3", :required false, :repeats true, :type "FT"}]
    [:comment-type
     {:field "NTE.4", :required false, :repeats false, :type "CE_0364"}
     [:identifier
      {:field "CE_0364.1",
       :required false,
       :repeats false,
       :type "ST"}]
     [:text
      {:field "CE_0364.2",
       :required false,
       :repeats false,
       :type "ST"}]
     [:name-of-coding-system
      {:field "CE_0364.3",
       :required false,
       :repeats false,
       :type "ST"}]
     [:alternate-identifier
      {:field "CE_0364.4",
       :required false,
       :repeats false,
       :type "ST"}]
     [:alternate-text
      {:field "CE_0364.5",
       :required false,
       :repeats false,
       :type "ST"}]
     [:name-of-alternate-coding-system
      {:field "CE_0364.6",
       :required false,
       :repeats false,
       :type "ST"}]]]]
  [:APP_STATS
   {:required false, :repeats false}
   [:NST {:required false, :repeats false}]
   [:NTE
    {:required false, :repeats true}
    [:set-id-nte
     {:field "NTE.1", :required false, :repeats false, :type "SI"}]
    [:source-of-comment
     {:field "NTE.2", :required false, :repeats false, :type "ID"}]
    [:comment
     {:field "NTE.3", :required false, :repeats true, :type "FT"}]
    [:comment-type
     {:field "NTE.4", :required false, :repeats false, :type "CE_0364"}
     [:identifier
      {:field "CE_0364.1",
       :required false,
       :repeats false,
       :type "ST"}]
     [:text
      {:field "CE_0364.2",
       :required false,
       :repeats false,
       :type "ST"}]
     [:name-of-coding-system
      {:field "CE_0364.3",
       :required false,
       :repeats false,
       :type "ST"}]
     [:alternate-identifier
      {:field "CE_0364.4",
       :required false,
       :repeats false,
       :type "ST"}]
     [:alternate-text
      {:field "CE_0364.5",
       :required false,
       :repeats false,
       :type "ST"}]
     [:name-of-alternate-coding-system
      {:field "CE_0364.6",
       :required false,
       :repeats false,
       :type "ST"}]]]]
  [:APP_STATUS
   {:required false, :repeats false}
   [:NSC {:required false, :repeats false}]
   [:NTE
    {:required false, :repeats true}
    [:set-id-nte
     {:field "NTE.1", :required false, :repeats false, :type "SI"}]
    [:source-of-comment
     {:field "NTE.2", :required false, :repeats false, :type "ID"}]
    [:comment
     {:field "NTE.3", :required false, :repeats true, :type "FT"}]
    [:comment-type
     {:field "NTE.4", :required false, :repeats false, :type "CE_0364"}
     [:identifier
      {:field "CE_0364.1",
       :required false,
       :repeats false,
       :type "ST"}]
     [:text
      {:field "CE_0364.2",
       :required false,
       :repeats false,
       :type "ST"}]
     [:name-of-coding-system
      {:field "CE_0364.3",
       :required false,
       :repeats false,
       :type "ST"}]
     [:alternate-identifier
      {:field "CE_0364.4",
       :required false,
       :repeats false,
       :type "ST"}]
     [:alternate-text
      {:field "CE_0364.5",
       :required false,
       :repeats false,
       :type "ST"}]
     [:name-of-alternate-coding-system
      {:field "CE_0364.6",
       :required false,
       :repeats false,
       :type "ST"}]]]]]]
