[:NMR_N01
 [:MSH
  {:required true, :repeats false, :segment true}
  [:field-separator
   {:required true, :repeats false, :data-type :string}]
  [:encoding-characters
   {:required true, :repeats false, :data-type :string}]
  [:sending-application
   {:required false, :repeats false}
   [:namespace-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id-type
    {:required false, :repeats false, :data-type :string}]]
  [:sending-facility
   {:required false, :repeats false}
   [:namespace-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id-type
    {:required false, :repeats false, :data-type :string}]]
  [:receiving-application
   {:required false, :repeats false}
   [:namespace-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id-type
    {:required false, :repeats false, :data-type :string}]]
  [:receiving-facility
   {:required false, :repeats false}
   [:namespace-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id-type
    {:required false, :repeats false, :data-type :string}]]
  [:dateortime-of-message
   {:required false, :repeats false}
   [:time-of-an-event
    {:required false, :repeats false, :data-type :string}]
   [:degree-of-precision
    {:required false, :repeats false, :data-type :string}]]
  [:security {:required false, :repeats false, :data-type :string}]
  [:message-type
   {:required true, :repeats false}
   [:message-type
    {:required false, :repeats false, :data-type :string}]
   [:trigger-event
    {:required false, :repeats false, :data-type :string}]
   [:message-structure
    {:required false, :repeats false, :data-type :string}]]
  [:message-control-id
   {:required true, :repeats false, :data-type :string}]
  [:processing-id
   {:required true, :repeats false}
   [:processing-id
    {:required false, :repeats false, :data-type :string}]
   [:processing-mode
    {:required false, :repeats false, :data-type :string}]]
  [:version-id
   {:required true, :repeats false}
   [:version-id {:required false, :repeats false, :data-type :string}]
   [:internationalization-code
    {:required false, :repeats false}
    [:identifier {:required false, :repeats false, :data-type :string}]
    [:text {:required false, :repeats false, :data-type :string}]
    [:name-of-coding-system
     {:required false, :repeats false, :data-type :string}]
    [:alternate-identifier
     {:required false, :repeats false, :data-type :string}]
    [:alternate-text
     {:required false, :repeats false, :data-type :string}]
    [:name-of-alternate-coding-system
     {:required false, :repeats false, :data-type :string}]]
   [:international-version-id
    {:required false, :repeats false}
    [:identifier {:required false, :repeats false, :data-type :string}]
    [:text {:required false, :repeats false, :data-type :string}]
    [:name-of-coding-system
     {:required false, :repeats false, :data-type :string}]
    [:alternate-identifier
     {:required false, :repeats false, :data-type :string}]
    [:alternate-text
     {:required false, :repeats false, :data-type :string}]
    [:name-of-alternate-coding-system
     {:required false, :repeats false, :data-type :string}]]]
  [:sequence-number
   {:required false, :repeats false, :data-type :string}]
  [:continuation-pointer
   {:required false, :repeats false, :data-type :string}]
  [:accept-acknowledgment-type
   {:required false, :repeats false, :data-type :string}]
  [:application-acknowledgment-type
   {:required false, :repeats false, :data-type :string}]
  [:country-code {:required false, :repeats false, :data-type :string}]
  [:character-set {:required false, :repeats true, :data-type :string}]
  [:principal-language-of-message
   {:required false, :repeats false}
   [:identifier {:required false, :repeats false, :data-type :string}]
   [:text {:required false, :repeats false, :data-type :string}]
   [:name-of-coding-system
    {:required false, :repeats false, :data-type :string}]
   [:alternate-identifier
    {:required false, :repeats false, :data-type :string}]
   [:alternate-text
    {:required false, :repeats false, :data-type :string}]
   [:name-of-alternate-coding-system
    {:required false, :repeats false, :data-type :string}]]
  [:alternate-character-set-handling-scheme
   {:required false, :repeats false, :data-type :string}]]
 [:MSA
  {:required true, :repeats false, :segment true}
  [:acknowledgement-code
   {:required true, :repeats false, :data-type :string}]
  [:message-control-id
   {:required true, :repeats false, :data-type :string}]
  [:text-message {:required false, :repeats false, :data-type :string}]
  [:expected-sequence-number
   {:required false, :repeats false, :data-type :string}]
  [:delayed-acknowledgment-type
   {:required false, :repeats false, :data-type :string}]
  [:error-condition
   {:required false, :repeats false}
   [:identifier {:required false, :repeats false, :data-type :string}]
   [:text {:required false, :repeats false, :data-type :string}]
   [:name-of-coding-system
    {:required false, :repeats false, :data-type :string}]
   [:alternate-identifier
    {:required false, :repeats false, :data-type :string}]
   [:alternate-text
    {:required false, :repeats false, :data-type :string}]
   [:name-of-alternate-coding-system
    {:required false, :repeats false, :data-type :string}]]]
 [:ERR
  {:required false, :repeats true, :segment true}
  [:error-code-and-location
   {:required true, :repeats true}
   [:segment-id {:required false, :repeats false, :data-type :string}]
   [:sequence {:required false, :repeats false, :data-type :string}]
   [:field-position
    {:required false, :repeats false, :data-type :string}]
   [:code-identifying-error
    {:required false, :repeats false}
    [:identifier {:required false, :repeats false, :data-type :string}]
    [:text {:required false, :repeats false, :data-type :string}]
    [:name-of-coding-system
     {:required false, :repeats false, :data-type :string}]
    [:alternate-identifier
     {:required false, :repeats false, :data-type :string}]
    [:alternate-text
     {:required false, :repeats false, :data-type :string}]
    [:name-of-alternate-coding-system
     {:required false, :repeats false, :data-type :string}]]]]
 [:QRD
  {:required false, :repeats false, :segment true}
  [:query-dateortime
   {:required true, :repeats false}
   [:time-of-an-event
    {:required false, :repeats false, :data-type :string}]
   [:degree-of-precision
    {:required false, :repeats false, :data-type :string}]]
  [:query-format-code
   {:required true, :repeats false, :data-type :string}]
  [:query-priority
   {:required true, :repeats false, :data-type :string}]
  [:query-id {:required true, :repeats false, :data-type :string}]
  [:deferred-response-type
   {:required false, :repeats false, :data-type :string}]
  [:deferred-response-dateortime
   {:required false, :repeats false}
   [:time-of-an-event
    {:required false, :repeats false, :data-type :string}]
   [:degree-of-precision
    {:required false, :repeats false, :data-type :string}]]
  [:quantity-limited-request
   {:required true, :repeats false}
   [:quantity {:required false, :repeats false, :data-type :string}]
   [:units
    {:required false, :repeats false}
    [:identifier {:required false, :repeats false, :data-type :string}]
    [:text {:required false, :repeats false, :data-type :string}]
    [:name-of-coding-system
     {:required false, :repeats false, :data-type :string}]
    [:alternate-identifier
     {:required false, :repeats false, :data-type :string}]
    [:alternate-text
     {:required false, :repeats false, :data-type :string}]
    [:name-of-alternate-coding-system
     {:required false, :repeats false, :data-type :string}]]]
  [:who-subject-filter
   {:required true, :repeats true}
   [:id-number {:required false, :repeats false, :data-type :string}]
   [:family+last-name
    {:required false, :repeats false}
    [:family-name
     {:required false, :repeats false, :data-type :string}]
    [:last-name-prefix
     {:required false, :repeats false, :data-type :string}]]
   [:given-name {:required false, :repeats false, :data-type :string}]
   [:middle-initial-or-name
    {:required false, :repeats false, :data-type :string}]
   [:suffix {:required false, :repeats false, :data-type :string}]
   [:prefix {:required false, :repeats false, :data-type :string}]
   [:degree {:required false, :repeats false, :data-type :string}]
   [:source-table
    {:required false, :repeats false, :data-type :string}]
   [:assigning-authority
    {:required false, :repeats false}
    [:namespace-id
     {:required false, :repeats false, :data-type :string}]
    [:universal-id
     {:required false, :repeats false, :data-type :string}]
    [:universal-id-type
     {:required false, :repeats false, :data-type :string}]]
   [:name-type-code
    {:required false, :repeats false, :data-type :string}]
   [:identifier-check-digit
    {:required false, :repeats false, :data-type :string}]
   [:code-identifying-the-check-digit-scheme-employed
    {:required false, :repeats false, :data-type :string}]
   [:identifier-type-code
    {:required false, :repeats false, :data-type :string}]
   [:assigning-facility
    {:required false, :repeats false}
    [:namespace-id
     {:required false, :repeats false, :data-type :string}]
    [:universal-id
     {:required false, :repeats false, :data-type :string}]
    [:universal-id-type
     {:required false, :repeats false, :data-type :string}]]
   [:name-representation-code
    {:required false, :repeats false, :data-type :string}]]
  [:what-subject-filter
   {:required true, :repeats true}
   [:identifier {:required false, :repeats false, :data-type :string}]
   [:text {:required false, :repeats false, :data-type :string}]
   [:name-of-coding-system
    {:required false, :repeats false, :data-type :string}]
   [:alternate-identifier
    {:required false, :repeats false, :data-type :string}]
   [:alternate-text
    {:required false, :repeats false, :data-type :string}]
   [:name-of-alternate-coding-system
    {:required false, :repeats false, :data-type :string}]]
  [:what-department-data-code
   {:required true, :repeats true}
   [:identifier {:required false, :repeats false, :data-type :string}]
   [:text {:required false, :repeats false, :data-type :string}]
   [:name-of-coding-system
    {:required false, :repeats false, :data-type :string}]
   [:alternate-identifier
    {:required false, :repeats false, :data-type :string}]
   [:alternate-text
    {:required false, :repeats false, :data-type :string}]
   [:name-of-alternate-coding-system
    {:required false, :repeats false, :data-type :string}]]
  [:what-data-code-value-qual.
   {:required false, :repeats true}
   [:first-data-code-value
    {:required false, :repeats false, :data-type :string}]
   [:last-data-code-calue
    {:required false, :repeats false, :data-type :string}]]
  [:query-results-level
   {:required false, :repeats false, :data-type :string}]]
 [:CLOCK_AND_STATS_WITH_NOTES_ALT
  {:required true, :repeats true}
  [:CLOCK
   {:required false, :repeats false}
   [:NCK {:required true, :repeats false, :segment true}]
   [:NTE
    {:required false, :repeats true, :segment true}
    [:set-id-nte {:required false, :repeats false, :data-type :string}]
    [:source-of-comment
     {:required false, :repeats false, :data-type :string}]
    [:comment {:required false, :repeats true} [:escape]]
    [:comment-type
     {:required false, :repeats false}
     [:identifier
      {:required false, :repeats false, :data-type :string}]
     [:text {:required false, :repeats false, :data-type :string}]
     [:name-of-coding-system
      {:required false, :repeats false, :data-type :string}]
     [:alternate-identifier
      {:required false, :repeats false, :data-type :string}]
     [:alternate-text
      {:required false, :repeats false, :data-type :string}]
     [:name-of-alternate-coding-system
      {:required false, :repeats false, :data-type :string}]]]]
  [:APP_STATS
   {:required false, :repeats false}
   [:NST {:required true, :repeats false, :segment true}]
   [:NTE
    {:required false, :repeats true, :segment true}
    [:set-id-nte {:required false, :repeats false, :data-type :string}]
    [:source-of-comment
     {:required false, :repeats false, :data-type :string}]
    [:comment {:required false, :repeats true} [:escape]]
    [:comment-type
     {:required false, :repeats false}
     [:identifier
      {:required false, :repeats false, :data-type :string}]
     [:text {:required false, :repeats false, :data-type :string}]
     [:name-of-coding-system
      {:required false, :repeats false, :data-type :string}]
     [:alternate-identifier
      {:required false, :repeats false, :data-type :string}]
     [:alternate-text
      {:required false, :repeats false, :data-type :string}]
     [:name-of-alternate-coding-system
      {:required false, :repeats false, :data-type :string}]]]]
  [:APP_STATUS
   {:required false, :repeats false}
   [:NSC {:required true, :repeats false, :segment true}]
   [:NTE
    {:required false, :repeats true, :segment true}
    [:set-id-nte {:required false, :repeats false, :data-type :string}]
    [:source-of-comment
     {:required false, :repeats false, :data-type :string}]
    [:comment {:required false, :repeats true} [:escape]]
    [:comment-type
     {:required false, :repeats false}
     [:identifier
      {:required false, :repeats false, :data-type :string}]
     [:text {:required false, :repeats false, :data-type :string}]
     [:name-of-coding-system
      {:required false, :repeats false, :data-type :string}]
     [:alternate-identifier
      {:required false, :repeats false, :data-type :string}]
     [:alternate-text
      {:required false, :repeats false, :data-type :string}]
     [:name-of-alternate-coding-system
      {:required false, :repeats false, :data-type :string}]]]]]]
