[:NMR_N01
 {:version "2.3.1"}
 [:MSH
  {:required false, :repeats false}
  [:field-separator
   {:field "MSH.1", :required true, :repeats false, :type "ST"}]
  [:encoding-characters
   {:field "MSH.2", :required true, :repeats false, :type "ST"}]
  [:sending-application
   {:field "MSH.3", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:sending-facility
   {:field "MSH.4", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:receiving-application
   {:field "MSH.5", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:receiving-facility
   {:field "MSH.6", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:dateortime-of-message
   {:field "MSH.7", :required false, :repeats false, :type "TS"}
   [:time-of-an-event
    {:field "TS.1", :required false, :repeats false, :type "ST"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ST"}]]
  [:security
   {:field "MSH.8", :required false, :repeats false, :type "ST"}]
  [:message-type
   {:field "MSH.9", :required true, :repeats false, :type "MSG"}
   [:message-type
    {:field "MSG.1", :required false, :repeats false, :type "ID"}]
   [:trigger-event
    {:field "MSG.2", :required false, :repeats false, :type "ID"}]
   [:message-structure
    {:field "MSG.3", :required false, :repeats false, :type "ID"}]]
  [:message-control-id
   {:field "MSH.10", :required true, :repeats false, :type "ST"}]
  [:processing-id
   {:field "MSH.11", :required true, :repeats false, :type "PT"}
   [:processing-id
    {:field "PT.1", :required false, :repeats false, :type "ID"}]
   [:processing-mode
    {:field "PT.2", :required false, :repeats false, :type "ID"}]]
  [:version-id
   {:field "MSH.12", :required true, :repeats false, :type "VID"}
   [:version-id
    {:field "VID.1", :required false, :repeats false, :type "ID"}]
   [:internationalization-code
    {:field "VID.2", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ST"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ST"}]]
   [:international-version-id
    {:field "VID.3", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ST"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ST"}]]]
  [:sequence-number
   {:field "MSH.13", :required false, :repeats false, :type "NM"}]
  [:continuation-pointer
   {:field "MSH.14", :required false, :repeats false, :type "ST"}]
  [:accept-acknowledgment-type
   {:field "MSH.15", :required false, :repeats false, :type "ID"}]
  [:application-acknowledgment-type
   {:field "MSH.16", :required false, :repeats false, :type "ID"}]
  [:country-code
   {:field "MSH.17", :required false, :repeats false, :type "ID"}]
  [:character-set
   {:field "MSH.18", :required false, :repeats true, :type "ID"}]
  [:principal-language-of-message
   {:field "MSH.19", :required false, :repeats false, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ST"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ST"}]]
  [:alternate-character-set-handling-scheme
   {:field "MSH.20", :required false, :repeats false, :type "ID"}]]
 [:MSA
  {:required false, :repeats false}
  [:acknowledgement-code
   {:field "MSA.1", :required true, :repeats false, :type "ID"}]
  [:message-control-id
   {:field "MSA.2", :required true, :repeats false, :type "ST"}]
  [:text-message
   {:field "MSA.3", :required false, :repeats false, :type "ST"}]
  [:expected-sequence-number
   {:field "MSA.4", :required false, :repeats false, :type "NM"}]
  [:delayed-acknowledgment-type
   {:field "MSA.5", :required false, :repeats false, :type "ID"}]
  [:error-condition
   {:field "MSA.6", :required false, :repeats false, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ST"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ST"}]]]
 [:ERR
  {:required false, :repeats true}
  [:error-code-and-location
   {:field "ERR.1", :required true, :repeats true, :type "ELD"}
   [:segment-id
    {:field "ELD.1", :required false, :repeats false, :type "ST"}]
   [:sequence
    {:field "ELD.2", :required false, :repeats false, :type "NM"}]
   [:field-position
    {:field "ELD.3", :required false, :repeats false, :type "NM"}]
   [:code-identifying-error
    {:field "ELD.4", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ST"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ST"}]]]]
 [:QRD
  {:required false, :repeats false}
  [:query-dateortime
   {:field "QRD.1", :required true, :repeats false, :type "TS"}
   [:time-of-an-event
    {:field "TS.1", :required false, :repeats false, :type "ST"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ST"}]]
  [:query-format-code
   {:field "QRD.2", :required true, :repeats false, :type "ID"}]
  [:query-priority
   {:field "QRD.3", :required true, :repeats false, :type "ID"}]
  [:query-id
   {:field "QRD.4", :required true, :repeats false, :type "ST"}]
  [:deferred-response-type
   {:field "QRD.5", :required false, :repeats false, :type "ID"}]
  [:deferred-response-dateortime
   {:field "QRD.6", :required false, :repeats false, :type "TS"}
   [:time-of-an-event
    {:field "TS.1", :required false, :repeats false, :type "ST"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ST"}]]
  [:quantity-limited-request
   {:field "QRD.7", :required true, :repeats false, :type "CQ"}
   [:quantity
    {:field "CQ.1", :required false, :repeats false, :type "NM"}]
   [:units
    {:field "CQ.2", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ST"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ST"}]]]
  [:who-subject-filter
   {:field "QRD.8", :required true, :repeats true, :type "XCN"}
   [:id-number
    {:field "XCN.1", :required false, :repeats false, :type "ST"}]
   [:family+last-name
    {:field "XCN.2", :required false, :repeats false, :type "FN"}
    [:family-name
     {:field "FN.1", :required false, :repeats false, :type "ST"}]
    [:last-name-prefix
     {:field "FN.2", :required false, :repeats false, :type "ST"}]]
   [:given-name
    {:field "XCN.3", :required false, :repeats false, :type "ST"}]
   [:middle-initial-or-name
    {:field "XCN.4", :required false, :repeats false, :type "ST"}]
   [:suffix
    {:field "XCN.5", :required false, :repeats false, :type "ST"}]
   [:prefix
    {:field "XCN.6", :required false, :repeats false, :type "ST"}]
   [:degree
    {:field "XCN.7", :required false, :repeats false, :type "IS"}]
   [:source-table
    {:field "XCN.8", :required false, :repeats false, :type "IS"}]
   [:assigning-authority
    {:field "XCN.9", :required false, :repeats false, :type "HD"}
    [:namespace-id
     {:field "HD.1", :required false, :repeats false, :type "IS"}]
    [:universal-id
     {:field "HD.2", :required false, :repeats false, :type "ST"}]
    [:universal-id-type
     {:field "HD.3", :required false, :repeats false, :type "ID"}]]
   [:name-type-code
    {:field "XCN.10", :required false, :repeats false, :type "ID"}]
   [:identifier-check-digit
    {:field "XCN.11", :required false, :repeats false, :type "ST"}]
   [:code-identifying-the-check-digit-scheme-employed
    {:field "XCN.12", :required false, :repeats false, :type "ID"}]
   [:identifier-type-code
    {:field "XCN.13", :required false, :repeats false, :type "IS"}]
   [:assigning-facility
    {:field "XCN.14", :required false, :repeats false, :type "HD"}
    [:namespace-id
     {:field "HD.1", :required false, :repeats false, :type "IS"}]
    [:universal-id
     {:field "HD.2", :required false, :repeats false, :type "ST"}]
    [:universal-id-type
     {:field "HD.3", :required false, :repeats false, :type "ID"}]]
   [:name-representation-code
    {:field "XCN.15", :required false, :repeats false, :type "ID"}]]
  [:what-subject-filter
   {:field "QRD.9", :required true, :repeats true, :type "CE_0048"}
   [:identifier
    {:field "CE_0048.1", :required false, :repeats false, :type "ST"}]
   [:text
    {:field "CE_0048.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE_0048.3", :required false, :repeats false, :type "ST"}]
   [:alternate-identifier
    {:field "CE_0048.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE_0048.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE_0048.6", :required false, :repeats false, :type "ST"}]]
  [:what-department-data-code
   {:field "QRD.10", :required true, :repeats true, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ST"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ST"}]]
  [:what-data-code-value-qual
   {:field "QRD.11", :required false, :repeats true, :type "VR"}
   [:first-data-code-value
    {:field "VR.1", :required false, :repeats false, :type "ST"}]
   [:last-data-code-calue
    {:field "VR.2", :required false, :repeats false, :type "ST"}]]
  [:query-results-level
   {:field "QRD.12", :required false, :repeats false, :type "ID"}]]
 [:CLOCK_AND_STATS_WITH_NOTES_ALT
  {:required false, :repeats true}
  [:CLOCK
   {:required false, :repeats false}
   [:NCK {:required false, :repeats false}]
   [:NTE
    {:required false, :repeats true}
    [:set-id-nte
     {:field "NTE.1", :required false, :repeats false, :type "SI"}]
    [:source-of-comment
     {:field "NTE.2", :required false, :repeats false, :type "ID"}]
    [:comment
     {:field "NTE.3", :required false, :repeats true, :type "FT"}]
    [:comment-type
     {:field "NTE.4", :required false, :repeats false, :type "CE_0364"}
     [:identifier
      {:field "CE_0364.1",
       :required false,
       :repeats false,
       :type "ST"}]
     [:text
      {:field "CE_0364.2",
       :required false,
       :repeats false,
       :type "ST"}]
     [:name-of-coding-system
      {:field "CE_0364.3",
       :required false,
       :repeats false,
       :type "ST"}]
     [:alternate-identifier
      {:field "CE_0364.4",
       :required false,
       :repeats false,
       :type "ST"}]
     [:alternate-text
      {:field "CE_0364.5",
       :required false,
       :repeats false,
       :type "ST"}]
     [:name-of-alternate-coding-system
      {:field "CE_0364.6",
       :required false,
       :repeats false,
       :type "ST"}]]]]
  [:APP_STATS
   {:required false, :repeats false}
   [:NST {:required false, :repeats false}]
   [:NTE
    {:required false, :repeats true}
    [:set-id-nte
     {:field "NTE.1", :required false, :repeats false, :type "SI"}]
    [:source-of-comment
     {:field "NTE.2", :required false, :repeats false, :type "ID"}]
    [:comment
     {:field "NTE.3", :required false, :repeats true, :type "FT"}]
    [:comment-type
     {:field "NTE.4", :required false, :repeats false, :type "CE_0364"}
     [:identifier
      {:field "CE_0364.1",
       :required false,
       :repeats false,
       :type "ST"}]
     [:text
      {:field "CE_0364.2",
       :required false,
       :repeats false,
       :type "ST"}]
     [:name-of-coding-system
      {:field "CE_0364.3",
       :required false,
       :repeats false,
       :type "ST"}]
     [:alternate-identifier
      {:field "CE_0364.4",
       :required false,
       :repeats false,
       :type "ST"}]
     [:alternate-text
      {:field "CE_0364.5",
       :required false,
       :repeats false,
       :type "ST"}]
     [:name-of-alternate-coding-system
      {:field "CE_0364.6",
       :required false,
       :repeats false,
       :type "ST"}]]]]
  [:APP_STATUS
   {:required false, :repeats false}
   [:NSC {:required false, :repeats false}]
   [:NTE
    {:required false, :repeats true}
    [:set-id-nte
     {:field "NTE.1", :required false, :repeats false, :type "SI"}]
    [:source-of-comment
     {:field "NTE.2", :required false, :repeats false, :type "ID"}]
    [:comment
     {:field "NTE.3", :required false, :repeats true, :type "FT"}]
    [:comment-type
     {:field "NTE.4", :required false, :repeats false, :type "CE_0364"}
     [:identifier
      {:field "CE_0364.1",
       :required false,
       :repeats false,
       :type "ST"}]
     [:text
      {:field "CE_0364.2",
       :required false,
       :repeats false,
       :type "ST"}]
     [:name-of-coding-system
      {:field "CE_0364.3",
       :required false,
       :repeats false,
       :type "ST"}]
     [:alternate-identifier
      {:field "CE_0364.4",
       :required false,
       :repeats false,
       :type "ST"}]
     [:alternate-text
      {:field "CE_0364.5",
       :required false,
       :repeats false,
       :type "ST"}]
     [:name-of-alternate-coding-system
      {:field "CE_0364.6",
       :required false,
       :repeats false,
       :type "ST"}]]]]]]
