[:ACK
 {:version "2.5.1"}
 [:MSH
  {:required false, :repeats false}
  [:field-separator
   {:field "MSH.1", :required true, :repeats false, :type "ST"}]
  [:encoding-characters
   {:field "MSH.2", :required true, :repeats false, :type "ST"}]
  [:sending-application
   {:field "MSH.3", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:sending-facility
   {:field "MSH.4", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:receiving-application
   {:field "MSH.5", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:receiving-facility
   {:field "MSH.6", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:dateortime-of-message
   {:field "MSH.7", :required true, :repeats false, :type "TS"}
   [:time {:field "TS.1", :required true, :repeats false, :type "DTM"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ID"}]]
  [:security
   {:field "MSH.8", :required false, :repeats false, :type "ST"}]
  [:message-type
   {:field "MSH.9", :required true, :repeats false, :type "MSG"}
   [:message-code
    {:field "MSG.1", :required true, :repeats false, :type "ID"}]
   [:trigger-event
    {:field "MSG.2", :required true, :repeats false, :type "ID"}]
   [:message-structure
    {:field "MSG.3", :required true, :repeats false, :type "ID"}]]
  [:message-control-id
   {:field "MSH.10", :required true, :repeats false, :type "ST"}]
  [:processing-id
   {:field "MSH.11", :required true, :repeats false, :type "PT"}
   [:processing-id
    {:field "PT.1", :required false, :repeats false, :type "ID"}]
   [:processing-mode
    {:field "PT.2", :required false, :repeats false, :type "ID"}]]
  [:version-id
   {:field "MSH.12", :required true, :repeats false, :type "VID"}
   [:version-id
    {:field "VID.1", :required false, :repeats false, :type "ID"}]
   [:internationalization-code
    {:field "VID.2", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ID"}]]
   [:international-version-id
    {:field "VID.3", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ID"}]]]
  [:sequence-number
   {:field "MSH.13", :required false, :repeats false, :type "NM"}]
  [:continuation-pointer
   {:field "MSH.14", :required false, :repeats false, :type "ST"}]
  [:accept-acknowledgment-type
   {:field "MSH.15", :required false, :repeats false, :type "ID"}]
  [:application-acknowledgment-type
   {:field "MSH.16", :required false, :repeats false, :type "ID"}]
  [:country-code
   {:field "MSH.17", :required false, :repeats false, :type "ID"}]
  [:character-set
   {:field "MSH.18", :required false, :repeats true, :type "ID"}]
  [:principal-language-of-message
   {:field "MSH.19", :required false, :repeats false, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ID"}]]
  [:alternate-character-set-handling-scheme
   {:field "MSH.20", :required false, :repeats false, :type "ID"}]
  [:message-profile-identifier
   {:field "MSH.21", :required false, :repeats true, :type "EI"}
   [:entity-identifier
    {:field "EI.1", :required false, :repeats false, :type "ST"}]
   [:namespace-id
    {:field "EI.2", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "EI.3", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "EI.4", :required false, :repeats false, :type "ID"}]]]
 [:SFT
  {:required false, :repeats true}
  [:software-vendor-organization
   {:field "SFT.1", :required true, :repeats false, :type "XON"}
   [:organization-name
    {:field "XON.1", :required false, :repeats false, :type "ST"}]
   [:organization-name-type-code
    {:field "XON.2", :required false, :repeats false, :type "IS"}]
   [:id-number
    {:field "XON.3", :required false, :repeats false, :type "NM"}]
   [:check-digit
    {:field "XON.4", :required false, :repeats false, :type "NM"}]
   [:check-digit-scheme
    {:field "XON.5", :required false, :repeats false, :type "ID"}]
   [:assigning-authority
    {:field "XON.6", :required false, :repeats false, :type "HD"}
    [:namespace-id
     {:field "HD.1", :required false, :repeats false, :type "IS"}]
    [:universal-id
     {:field "HD.2", :required false, :repeats false, :type "ST"}]
    [:universal-id-type
     {:field "HD.3", :required false, :repeats false, :type "ID"}]]
   [:identifier-type-code
    {:field "XON.7", :required false, :repeats false, :type "ID"}]
   [:assigning-facility
    {:field "XON.8", :required false, :repeats false, :type "HD"}
    [:namespace-id
     {:field "HD.1", :required false, :repeats false, :type "IS"}]
    [:universal-id
     {:field "HD.2", :required false, :repeats false, :type "ST"}]
    [:universal-id-type
     {:field "HD.3", :required false, :repeats false, :type "ID"}]]
   [:name-representation-code
    {:field "XON.9", :required false, :repeats false, :type "ID"}]
   [:organization-identifier
    {:field "XON.10", :required false, :repeats false, :type "ST"}]]
  [:software-certified-version-or-release-number
   {:field "SFT.2", :required true, :repeats false, :type "ST"}]
  [:software-product-name
   {:field "SFT.3", :required true, :repeats false, :type "ST"}]
  [:software-binary-id
   {:field "SFT.4", :required true, :repeats false, :type "ST"}]
  [:software-product-information
   {:field "SFT.5", :required false, :repeats false, :type "TX"}
   ["escape" {:type "escapeType"} ["escape" {:type "escapeType"}]]]
  [:software-install-date
   {:field "SFT.6", :required false, :repeats false, :type "TS"}
   [:time {:field "TS.1", :required true, :repeats false, :type "DTM"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ID"}]]]
 [:MSA
  {:required false, :repeats false}
  [:acknowledgment-code
   {:field "MSA.1", :required true, :repeats false, :type "ID"}]
  [:message-control-id
   {:field "MSA.2", :required true, :repeats false, :type "ST"}]
  [:text-message
   {:field "MSA.3", :required false, :repeats false, :type "ST"}]
  [:expected-sequence-number
   {:field "MSA.4", :required false, :repeats false, :type "NM"}]
  [:error-condition
   {:field "MSA.6", :required false, :repeats false, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ID"}]]]
 [:ERR
  {:required false, :repeats true}
  [:error-code-and-location
   {:field "ERR.1", :required false, :repeats true, :type "ELD"}
   [:segment-id
    {:field "ELD.1", :required false, :repeats false, :type "ST"}]
   [:segment-sequence
    {:field "ELD.2", :required false, :repeats false, :type "NM"}]
   [:field-position
    {:field "ELD.3", :required false, :repeats false, :type "NM"}]
   [:code-identifying-error
    {:field "ELD.4", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ID"}]]]
  [:error-location
   {:field "ERR.2", :required false, :repeats true, :type "ERL"}
   [:segment-id
    {:field "ERL.1", :required true, :repeats false, :type "ST"}]
   [:segment-sequence
    {:field "ERL.2", :required true, :repeats false, :type "NM"}]
   [:field-position
    {:field "ERL.3", :required false, :repeats false, :type "NM"}]
   [:field-repetition
    {:field "ERL.4", :required false, :repeats false, :type "NM"}]
   [:component-number
    {:field "ERL.5", :required false, :repeats false, :type "NM"}]
   [:subcomponent-number
    {:field "ERL.6", :required false, :repeats false, :type "NM"}]]
  [:hl7-error-code
   {:field "ERR.3", :required true, :repeats false, :type "CWE"}
   [:identifier
    {:field "CWE.1", :required false, :repeats false, :type "ST"}]
   [:text
    {:field "CWE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CWE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CWE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CWE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CWE.6", :required false, :repeats false, :type "ID"}]
   [:coding-system-version-id
    {:field "CWE.7", :required false, :repeats false, :type "ST"}]
   [:alternate-coding-system-version-id
    {:field "CWE.8", :required false, :repeats false, :type "ST"}]
   [:original-text
    {:field "CWE.9", :required false, :repeats false, :type "ST"}]]
  [:severity
   {:field "ERR.4", :required true, :repeats false, :type "ID"}]
  [:application-error-code
   {:field "ERR.5", :required false, :repeats false, :type "CWE"}
   [:identifier
    {:field "CWE.1", :required false, :repeats false, :type "ST"}]
   [:text
    {:field "CWE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CWE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CWE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CWE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CWE.6", :required false, :repeats false, :type "ID"}]
   [:coding-system-version-id
    {:field "CWE.7", :required false, :repeats false, :type "ST"}]
   [:alternate-coding-system-version-id
    {:field "CWE.8", :required false, :repeats false, :type "ST"}]
   [:original-text
    {:field "CWE.9", :required false, :repeats false, :type "ST"}]]
  [:application-error-parameter
   {:field "ERR.6", :required false, :repeats false, :type "ST"}]
  [:diagnostic-information
   {:field "ERR.7", :required false, :repeats false, :type "TX"}
   ["escape" {:type "escapeType"} ["escape" {:type "escapeType"}]]]
  [:user-message
   {:field "ERR.8", :required false, :repeats false, :type "TX"}
   ["escape" {:type "escapeType"} ["escape" {:type "escapeType"}]]]
  [:inform-person-indicator
   {:field "ERR.9", :required false, :repeats true, :type "IS"}]
  [:override-type
   {:field "ERR.10", :required false, :repeats false, :type "CWE"}
   [:identifier
    {:field "CWE.1", :required false, :repeats false, :type "ST"}]
   [:text
    {:field "CWE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CWE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CWE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CWE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CWE.6", :required false, :repeats false, :type "ID"}]
   [:coding-system-version-id
    {:field "CWE.7", :required false, :repeats false, :type "ST"}]
   [:alternate-coding-system-version-id
    {:field "CWE.8", :required false, :repeats false, :type "ST"}]
   [:original-text
    {:field "CWE.9", :required false, :repeats false, :type "ST"}]]
  [:override-reason-code
   {:field "ERR.11", :required false, :repeats true, :type "CWE"}
   [:identifier
    {:field "CWE.1", :required false, :repeats false, :type "ST"}]
   [:text
    {:field "CWE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CWE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CWE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CWE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CWE.6", :required false, :repeats false, :type "ID"}]
   [:coding-system-version-id
    {:field "CWE.7", :required false, :repeats false, :type "ST"}]
   [:alternate-coding-system-version-id
    {:field "CWE.8", :required false, :repeats false, :type "ST"}]
   [:original-text
    {:field "CWE.9", :required false, :repeats false, :type "ST"}]]
  [:help-desk-contact-point
   {:field "ERR.12", :required false, :repeats true, :type "XTN"}
   [:telephone-number
    {:field "XTN.1", :required false, :repeats false, :type "ST"}]
   [:telecommunication-use-code
    {:field "XTN.2", :required false, :repeats false, :type "ID"}]
   [:telecommunication-equipment-type
    {:field "XTN.3", :required false, :repeats false, :type "ID"}]
   [:email-address
    {:field "XTN.4", :required false, :repeats false, :type "ST"}]
   [:country-code
    {:field "XTN.5", :required false, :repeats false, :type "NM"}]
   [:areaorcity-code
    {:field "XTN.6", :required false, :repeats false, :type "NM"}]
   [:local-number
    {:field "XTN.7", :required false, :repeats false, :type "NM"}]
   [:extension
    {:field "XTN.8", :required false, :repeats false, :type "NM"}]
   [:any-text
    {:field "XTN.9", :required false, :repeats false, :type "ST"}]
   [:extension-prefix
    {:field "XTN.10", :required false, :repeats false, :type "ST"}]
   [:speed-dial-code
    {:field "XTN.11", :required false, :repeats false, :type "ST"}]
   [:unformatted-telephone-number
    {:field "XTN.12", :required false, :repeats false, :type "ST"}]]]]
