[:ESR_U02
 {:version "2.5.1"}
 [:MSH
  {:required false, :repeats false}
  [:field-separator
   {:field "MSH.1", :required true, :repeats false, :type "ST"}]
  [:encoding-characters
   {:field "MSH.2", :required true, :repeats false, :type "ST"}]
  [:sending-application
   {:field "MSH.3", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:sending-facility
   {:field "MSH.4", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:receiving-application
   {:field "MSH.5", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:receiving-facility
   {:field "MSH.6", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:dateortime-of-message
   {:field "MSH.7", :required true, :repeats false, :type "TS"}
   [:time {:field "TS.1", :required true, :repeats false, :type "DTM"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ID"}]]
  [:security
   {:field "MSH.8", :required false, :repeats false, :type "ST"}]
  [:message-type
   {:field "MSH.9", :required true, :repeats false, :type "MSG"}
   [:message-code
    {:field "MSG.1", :required true, :repeats false, :type "ID"}]
   [:trigger-event
    {:field "MSG.2", :required true, :repeats false, :type "ID"}]
   [:message-structure
    {:field "MSG.3", :required true, :repeats false, :type "ID"}]]
  [:message-control-id
   {:field "MSH.10", :required true, :repeats false, :type "ST"}]
  [:processing-id
   {:field "MSH.11", :required true, :repeats false, :type "PT"}
   [:processing-id
    {:field "PT.1", :required false, :repeats false, :type "ID"}]
   [:processing-mode
    {:field "PT.2", :required false, :repeats false, :type "ID"}]]
  [:version-id
   {:field "MSH.12", :required true, :repeats false, :type "VID"}
   [:version-id
    {:field "VID.1", :required false, :repeats false, :type "ID"}]
   [:internationalization-code
    {:field "VID.2", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ID"}]]
   [:international-version-id
    {:field "VID.3", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ID"}]]]
  [:sequence-number
   {:field "MSH.13", :required false, :repeats false, :type "NM"}]
  [:continuation-pointer
   {:field "MSH.14", :required false, :repeats false, :type "ST"}]
  [:accept-acknowledgment-type
   {:field "MSH.15", :required false, :repeats false, :type "ID"}]
  [:application-acknowledgment-type
   {:field "MSH.16", :required false, :repeats false, :type "ID"}]
  [:country-code
   {:field "MSH.17", :required false, :repeats false, :type "ID"}]
  [:character-set
   {:field "MSH.18", :required false, :repeats true, :type "ID"}]
  [:principal-language-of-message
   {:field "MSH.19", :required false, :repeats false, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ID"}]]
  [:alternate-character-set-handling-scheme
   {:field "MSH.20", :required false, :repeats false, :type "ID"}]
  [:message-profile-identifier
   {:field "MSH.21", :required false, :repeats true, :type "EI"}
   [:entity-identifier
    {:field "EI.1", :required false, :repeats false, :type "ST"}]
   [:namespace-id
    {:field "EI.2", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "EI.3", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "EI.4", :required false, :repeats false, :type "ID"}]]]
 [:SFT
  {:required false, :repeats true}
  [:software-vendor-organization
   {:field "SFT.1", :required true, :repeats false, :type "XON"}
   [:organization-name
    {:field "XON.1", :required false, :repeats false, :type "ST"}]
   [:organization-name-type-code
    {:field "XON.2", :required false, :repeats false, :type "IS"}]
   [:id-number
    {:field "XON.3", :required false, :repeats false, :type "NM"}]
   [:check-digit
    {:field "XON.4", :required false, :repeats false, :type "NM"}]
   [:check-digit-scheme
    {:field "XON.5", :required false, :repeats false, :type "ID"}]
   [:assigning-authority
    {:field "XON.6", :required false, :repeats false, :type "HD"}
    [:namespace-id
     {:field "HD.1", :required false, :repeats false, :type "IS"}]
    [:universal-id
     {:field "HD.2", :required false, :repeats false, :type "ST"}]
    [:universal-id-type
     {:field "HD.3", :required false, :repeats false, :type "ID"}]]
   [:identifier-type-code
    {:field "XON.7", :required false, :repeats false, :type "ID"}]
   [:assigning-facility
    {:field "XON.8", :required false, :repeats false, :type "HD"}
    [:namespace-id
     {:field "HD.1", :required false, :repeats false, :type "IS"}]
    [:universal-id
     {:field "HD.2", :required false, :repeats false, :type "ST"}]
    [:universal-id-type
     {:field "HD.3", :required false, :repeats false, :type "ID"}]]
   [:name-representation-code
    {:field "XON.9", :required false, :repeats false, :type "ID"}]
   [:organization-identifier
    {:field "XON.10", :required false, :repeats false, :type "ST"}]]
  [:software-certified-version-or-release-number
   {:field "SFT.2", :required true, :repeats false, :type "ST"}]
  [:software-product-name
   {:field "SFT.3", :required true, :repeats false, :type "ST"}]
  [:software-binary-id
   {:field "SFT.4", :required true, :repeats false, :type "ST"}]
  [:software-product-information
   {:field "SFT.5", :required false, :repeats false, :type "TX"}
   ["escape" {:type "escapeType"} ["escape" {:type "escapeType"}]]]
  [:software-install-date
   {:field "SFT.6", :required false, :repeats false, :type "TS"}
   [:time {:field "TS.1", :required true, :repeats false, :type "DTM"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ID"}]]]
 [:EQU
  {:required false, :repeats false}
  [:equipment-instance-identifier
   {:field "EQU.1", :required true, :repeats false, :type "EI"}
   [:entity-identifier
    {:field "EI.1", :required false, :repeats false, :type "ST"}]
   [:namespace-id
    {:field "EI.2", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "EI.3", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "EI.4", :required false, :repeats false, :type "ID"}]]
  [:event-dateortime
   {:field "EQU.2", :required true, :repeats false, :type "TS"}
   [:time {:field "TS.1", :required true, :repeats false, :type "DTM"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ID"}]]
  [:equipment-state
   {:field "EQU.3", :required false, :repeats false, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ID"}]]
  [:localorremote-control-state
   {:field "EQU.4", :required false, :repeats false, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ID"}]]
  [:alert-level
   {:field "EQU.5", :required false, :repeats false, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ID"}]]]
 [:ROL
  {:required false, :repeats false}
  [:role-instance-id
   {:field "ROL.1", :required false, :repeats false, :type "EI"}
   [:entity-identifier
    {:field "EI.1", :required false, :repeats false, :type "ST"}]
   [:namespace-id
    {:field "EI.2", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "EI.3", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "EI.4", :required false, :repeats false, :type "ID"}]]
  [:action-code
   {:field "ROL.2", :required true, :repeats false, :type "ID"}]
  [:rolerol
   {:field "ROL.3", :required true, :repeats false, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ID"}]]
  [:role-person
   {:field "ROL.4", :required true, :repeats true, :type "XCN"}
   [:id-number
    {:field "XCN.1", :required false, :repeats false, :type "ST"}]
   [:family-name
    {:field "XCN.2", :required false, :repeats false, :type "FN"}
    [:surname
     {:field "FN.1", :required true, :repeats false, :type "ST"}]
    [:own-surname-prefix
     {:field "FN.2", :required false, :repeats false, :type "ST"}]
    [:own-surname
     {:field "FN.3", :required false, :repeats false, :type "ST"}]
    [:surname-prefix-from-partnerorspouse
     {:field "FN.4", :required false, :repeats false, :type "ST"}]
    [:surname-from-partnerorspouse
     {:field "FN.5", :required false, :repeats false, :type "ST"}]]
   [:given-name
    {:field "XCN.3", :required false, :repeats false, :type "ST"}]
   [:second-and-further-given-names-or-initials-thereof
    {:field "XCN.4", :required false, :repeats false, :type "ST"}]
   [:suffix
    {:field "XCN.5", :required false, :repeats false, :type "ST"}]
   [:prefix
    {:field "XCN.6", :required false, :repeats false, :type "ST"}]
   [:degree
    {:field "XCN.7", :required false, :repeats false, :type "IS"}]
   [:source-table
    {:field "XCN.8", :required false, :repeats false, :type "IS"}]
   [:assigning-authority
    {:field "XCN.9", :required false, :repeats false, :type "HD"}
    [:namespace-id
     {:field "HD.1", :required false, :repeats false, :type "IS"}]
    [:universal-id
     {:field "HD.2", :required false, :repeats false, :type "ST"}]
    [:universal-id-type
     {:field "HD.3", :required false, :repeats false, :type "ID"}]]
   [:name-type-code
    {:field "XCN.10", :required false, :repeats false, :type "ID"}]
   [:identifier-check-digit
    {:field "XCN.11", :required false, :repeats false, :type "ST"}]
   [:check-digit-scheme
    {:field "XCN.12", :required false, :repeats false, :type "ID"}]
   [:identifier-type-code
    {:field "XCN.13", :required false, :repeats false, :type "ID"}]
   [:assigning-facility
    {:field "XCN.14", :required false, :repeats false, :type "HD"}
    [:namespace-id
     {:field "HD.1", :required false, :repeats false, :type "IS"}]
    [:universal-id
     {:field "HD.2", :required false, :repeats false, :type "ST"}]
    [:universal-id-type
     {:field "HD.3", :required false, :repeats false, :type "ID"}]]
   [:name-representation-code
    {:field "XCN.15", :required false, :repeats false, :type "ID"}]
   [:name-context
    {:field "XCN.16", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ID"}]]
   [:name-validity-range
    {:field "XCN.17", :required false, :repeats false, :type "DR"}
    [:range-start-dateortime
     {:field "DR.1", :required false, :repeats false, :type "TS"}
     [:time
      {:field "TS.1", :required true, :repeats false, :type "DTM"}]
     [:degree-of-precision
      {:field "TS.2", :required false, :repeats false, :type "ID"}]]
    [:range-end-dateortime
     {:field "DR.2", :required false, :repeats false, :type "TS"}
     [:time
      {:field "TS.1", :required true, :repeats false, :type "DTM"}]
     [:degree-of-precision
      {:field "TS.2", :required false, :repeats false, :type "ID"}]]]
   [:name-assembly-order
    {:field "XCN.18", :required false, :repeats false, :type "ID"}]
   [:effective-date
    {:field "XCN.19", :required false, :repeats false, :type "TS"}
    [:time
     {:field "TS.1", :required true, :repeats false, :type "DTM"}]
    [:degree-of-precision
     {:field "TS.2", :required false, :repeats false, :type "ID"}]]
   [:expiration-date
    {:field "XCN.20", :required false, :repeats false, :type "TS"}
    [:time
     {:field "TS.1", :required true, :repeats false, :type "DTM"}]
    [:degree-of-precision
     {:field "TS.2", :required false, :repeats false, :type "ID"}]]
   [:professional-suffix
    {:field "XCN.21", :required false, :repeats false, :type "ST"}]
   [:assigning-jurisdiction
    {:field "XCN.22", :required false, :repeats false, :type "CWE"}
    [:identifier
     {:field "CWE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CWE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CWE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CWE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CWE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CWE.6", :required false, :repeats false, :type "ID"}]
    [:coding-system-version-id
     {:field "CWE.7", :required false, :repeats false, :type "ST"}]
    [:alternate-coding-system-version-id
     {:field "CWE.8", :required false, :repeats false, :type "ST"}]
    [:original-text
     {:field "CWE.9", :required false, :repeats false, :type "ST"}]]
   [:assigning-agency-or-department
    {:field "XCN.23", :required false, :repeats false, :type "CWE"}
    [:identifier
     {:field "CWE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CWE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CWE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CWE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CWE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CWE.6", :required false, :repeats false, :type "ID"}]
    [:coding-system-version-id
     {:field "CWE.7", :required false, :repeats false, :type "ST"}]
    [:alternate-coding-system-version-id
     {:field "CWE.8", :required false, :repeats false, :type "ST"}]
    [:original-text
     {:field "CWE.9", :required false, :repeats false, :type "ST"}]]]
  [:role-begin-dateortime
   {:field "ROL.5", :required false, :repeats false, :type "TS"}
   [:time {:field "TS.1", :required true, :repeats false, :type "DTM"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ID"}]]
  [:role-end-dateortime
   {:field "ROL.6", :required false, :repeats false, :type "TS"}
   [:time {:field "TS.1", :required true, :repeats false, :type "DTM"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ID"}]]
  [:role-duration
   {:field "ROL.7", :required false, :repeats false, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ID"}]]
  [:role-action-reason
   {:field "ROL.8", :required false, :repeats false, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ID"}]]
  [:provider-type
   {:field "ROL.9", :required false, :repeats true, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ID"}]]
  [:organization-unit-type
   {:field "ROL.10", :required false, :repeats false, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ID"}]]
  [:officeorhome-addressorbirthplace
   {:field "ROL.11", :required false, :repeats true, :type "XAD"}
   [:street-address
    {:field "XAD.1", :required false, :repeats false, :type "SAD"}
    [:street-or-mailing-address
     {:field "SAD.1", :required false, :repeats false, :type "ST"}]
    [:street-name
     {:field "SAD.2", :required false, :repeats false, :type "ST"}]
    [:dwelling-number
     {:field "SAD.3", :required false, :repeats false, :type "ST"}]]
   [:other-designation
    {:field "XAD.2", :required false, :repeats false, :type "ST"}]
   [:city
    {:field "XAD.3", :required false, :repeats false, :type "ST"}]
   [:state-or-province
    {:field "XAD.4", :required false, :repeats false, :type "ST"}]
   [:zip-or-postal-code
    {:field "XAD.5", :required false, :repeats false, :type "ST"}]
   [:country
    {:field "XAD.6", :required false, :repeats false, :type "ID"}]
   [:address-type
    {:field "XAD.7", :required false, :repeats false, :type "ID"}]
   [:other-geographic-designation
    {:field "XAD.8", :required false, :repeats false, :type "ST"}]
   [:countyorparish-code
    {:field "XAD.9", :required false, :repeats false, :type "IS"}]
   [:census-tract
    {:field "XAD.10", :required false, :repeats false, :type "IS"}]
   [:address-representation-code
    {:field "XAD.11", :required false, :repeats false, :type "ID"}]
   [:address-validity-range
    {:field "XAD.12", :required false, :repeats false, :type "DR"}
    [:range-start-dateortime
     {:field "DR.1", :required false, :repeats false, :type "TS"}
     [:time
      {:field "TS.1", :required true, :repeats false, :type "DTM"}]
     [:degree-of-precision
      {:field "TS.2", :required false, :repeats false, :type "ID"}]]
    [:range-end-dateortime
     {:field "DR.2", :required false, :repeats false, :type "TS"}
     [:time
      {:field "TS.1", :required true, :repeats false, :type "DTM"}]
     [:degree-of-precision
      {:field "TS.2", :required false, :repeats false, :type "ID"}]]]
   [:effective-date
    {:field "XAD.13", :required false, :repeats false, :type "TS"}
    [:time
     {:field "TS.1", :required true, :repeats false, :type "DTM"}]
    [:degree-of-precision
     {:field "TS.2", :required false, :repeats false, :type "ID"}]]
   [:expiration-date
    {:field "XAD.14", :required false, :repeats false, :type "TS"}
    [:time
     {:field "TS.1", :required true, :repeats false, :type "DTM"}]
    [:degree-of-precision
     {:field "TS.2", :required false, :repeats false, :type "ID"}]]]
  [:phone
   {:field "ROL.12", :required false, :repeats true, :type "XTN"}
   [:telephone-number
    {:field "XTN.1", :required false, :repeats false, :type "ST"}]
   [:telecommunication-use-code
    {:field "XTN.2", :required false, :repeats false, :type "ID"}]
   [:telecommunication-equipment-type
    {:field "XTN.3", :required false, :repeats false, :type "ID"}]
   [:email-address
    {:field "XTN.4", :required false, :repeats false, :type "ST"}]
   [:country-code
    {:field "XTN.5", :required false, :repeats false, :type "NM"}]
   [:areaorcity-code
    {:field "XTN.6", :required false, :repeats false, :type "NM"}]
   [:local-number
    {:field "XTN.7", :required false, :repeats false, :type "NM"}]
   [:extension
    {:field "XTN.8", :required false, :repeats false, :type "NM"}]
   [:any-text
    {:field "XTN.9", :required false, :repeats false, :type "ST"}]
   [:extension-prefix
    {:field "XTN.10", :required false, :repeats false, :type "ST"}]
   [:speed-dial-code
    {:field "XTN.11", :required false, :repeats false, :type "ST"}]
   [:unformatted-telephone-number
    {:field "XTN.12", :required false, :repeats false, :type "ST"}]]]]
