[:MFN_M15
 {:version "2.5.1"}
 [:MSH
  {:required false, :repeats false}
  [:field-separator
   {:field "MSH.1", :required true, :repeats false, :type "ST"}]
  [:encoding-characters
   {:field "MSH.2", :required true, :repeats false, :type "ST"}]
  [:sending-application
   {:field "MSH.3", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:sending-facility
   {:field "MSH.4", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:receiving-application
   {:field "MSH.5", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:receiving-facility
   {:field "MSH.6", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:dateortime-of-message
   {:field "MSH.7", :required true, :repeats false, :type "TS"}
   [:time {:field "TS.1", :required true, :repeats false, :type "DTM"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ID"}]]
  [:security
   {:field "MSH.8", :required false, :repeats false, :type "ST"}]
  [:message-type
   {:field "MSH.9", :required true, :repeats false, :type "MSG"}
   [:message-code
    {:field "MSG.1", :required true, :repeats false, :type "ID"}]
   [:trigger-event
    {:field "MSG.2", :required true, :repeats false, :type "ID"}]
   [:message-structure
    {:field "MSG.3", :required true, :repeats false, :type "ID"}]]
  [:message-control-id
   {:field "MSH.10", :required true, :repeats false, :type "ST"}]
  [:processing-id
   {:field "MSH.11", :required true, :repeats false, :type "PT"}
   [:processing-id
    {:field "PT.1", :required false, :repeats false, :type "ID"}]
   [:processing-mode
    {:field "PT.2", :required false, :repeats false, :type "ID"}]]
  [:version-id
   {:field "MSH.12", :required true, :repeats false, :type "VID"}
   [:version-id
    {:field "VID.1", :required false, :repeats false, :type "ID"}]
   [:internationalization-code
    {:field "VID.2", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ID"}]]
   [:international-version-id
    {:field "VID.3", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ID"}]]]
  [:sequence-number
   {:field "MSH.13", :required false, :repeats false, :type "NM"}]
  [:continuation-pointer
   {:field "MSH.14", :required false, :repeats false, :type "ST"}]
  [:accept-acknowledgment-type
   {:field "MSH.15", :required false, :repeats false, :type "ID"}]
  [:application-acknowledgment-type
   {:field "MSH.16", :required false, :repeats false, :type "ID"}]
  [:country-code
   {:field "MSH.17", :required false, :repeats false, :type "ID"}]
  [:character-set
   {:field "MSH.18", :required false, :repeats true, :type "ID"}]
  [:principal-language-of-message
   {:field "MSH.19", :required false, :repeats false, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ID"}]]
  [:alternate-character-set-handling-scheme
   {:field "MSH.20", :required false, :repeats false, :type "ID"}]
  [:message-profile-identifier
   {:field "MSH.21", :required false, :repeats true, :type "EI"}
   [:entity-identifier
    {:field "EI.1", :required false, :repeats false, :type "ST"}]
   [:namespace-id
    {:field "EI.2", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "EI.3", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "EI.4", :required false, :repeats false, :type "ID"}]]]
 [:SFT
  {:required false, :repeats true}
  [:software-vendor-organization
   {:field "SFT.1", :required true, :repeats false, :type "XON"}
   [:organization-name
    {:field "XON.1", :required false, :repeats false, :type "ST"}]
   [:organization-name-type-code
    {:field "XON.2", :required false, :repeats false, :type "IS"}]
   [:id-number
    {:field "XON.3", :required false, :repeats false, :type "NM"}]
   [:check-digit
    {:field "XON.4", :required false, :repeats false, :type "NM"}]
   [:check-digit-scheme
    {:field "XON.5", :required false, :repeats false, :type "ID"}]
   [:assigning-authority
    {:field "XON.6", :required false, :repeats false, :type "HD"}
    [:namespace-id
     {:field "HD.1", :required false, :repeats false, :type "IS"}]
    [:universal-id
     {:field "HD.2", :required false, :repeats false, :type "ST"}]
    [:universal-id-type
     {:field "HD.3", :required false, :repeats false, :type "ID"}]]
   [:identifier-type-code
    {:field "XON.7", :required false, :repeats false, :type "ID"}]
   [:assigning-facility
    {:field "XON.8", :required false, :repeats false, :type "HD"}
    [:namespace-id
     {:field "HD.1", :required false, :repeats false, :type "IS"}]
    [:universal-id
     {:field "HD.2", :required false, :repeats false, :type "ST"}]
    [:universal-id-type
     {:field "HD.3", :required false, :repeats false, :type "ID"}]]
   [:name-representation-code
    {:field "XON.9", :required false, :repeats false, :type "ID"}]
   [:organization-identifier
    {:field "XON.10", :required false, :repeats false, :type "ST"}]]
  [:software-certified-version-or-release-number
   {:field "SFT.2", :required true, :repeats false, :type "ST"}]
  [:software-product-name
   {:field "SFT.3", :required true, :repeats false, :type "ST"}]
  [:software-binary-id
   {:field "SFT.4", :required true, :repeats false, :type "ST"}]
  [:software-product-information
   {:field "SFT.5", :required false, :repeats false, :type "TX"}
   ["escape" {:type "escapeType"} ["escape" {:type "escapeType"}]]]
  [:software-install-date
   {:field "SFT.6", :required false, :repeats false, :type "TS"}
   [:time {:field "TS.1", :required true, :repeats false, :type "DTM"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ID"}]]]
 [:MFI
  {:required false, :repeats false}
  [:master-file-identifier
   {:field "MFI.1", :required true, :repeats false, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ID"}]]
  [:master-file-application-identifier
   {:field "MFI.2", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:filelevel-event-code
   {:field "MFI.3", :required true, :repeats false, :type "ID"}]
  [:entered-dateortime
   {:field "MFI.4", :required false, :repeats false, :type "TS"}
   [:time {:field "TS.1", :required true, :repeats false, :type "DTM"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ID"}]]
  [:effective-dateortime
   {:field "MFI.5", :required false, :repeats false, :type "TS"}
   [:time {:field "TS.1", :required true, :repeats false, :type "DTM"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ID"}]]
  [:response-level-code
   {:field "MFI.6", :required true, :repeats false, :type "ID"}]]
 [:MF_INV_ITEM
  {:required false, :repeats true}
  [:MFE
   {:required false, :repeats false}
   [:recordlevel-event-code
    {:field "MFE.1", :required true, :repeats false, :type "ID"}]
   [:mfn-control-id
    {:field "MFE.2", :required false, :repeats false, :type "ST"}]
   [:effective-dateortime
    {:field "MFE.3", :required false, :repeats false, :type "TS"}
    [:time
     {:field "TS.1", :required true, :repeats false, :type "DTM"}]
    [:degree-of-precision
     {:field "TS.2", :required false, :repeats false, :type "ID"}]]
   [:primary-key-value-mfe
    {:field "MFE.4", :required true, :repeats true, :type "varies"}]
   [:primary-key-value-type
    {:field "MFE.5", :required true, :repeats true, :type "ID"}]]
  [:IIM
   {:required false, :repeats false}
   [:primary-key-value-iim
    {:field "IIM.1", :required true, :repeats false, :type "CWE"}
    [:identifier
     {:field "CWE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CWE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CWE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CWE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CWE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CWE.6", :required false, :repeats false, :type "ID"}]
    [:coding-system-version-id
     {:field "CWE.7", :required false, :repeats false, :type "ST"}]
    [:alternate-coding-system-version-id
     {:field "CWE.8", :required false, :repeats false, :type "ST"}]
    [:original-text
     {:field "CWE.9", :required false, :repeats false, :type "ST"}]]
   [:service-item-code
    {:field "IIM.2", :required true, :repeats false, :type "CWE"}
    [:identifier
     {:field "CWE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CWE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CWE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CWE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CWE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CWE.6", :required false, :repeats false, :type "ID"}]
    [:coding-system-version-id
     {:field "CWE.7", :required false, :repeats false, :type "ST"}]
    [:alternate-coding-system-version-id
     {:field "CWE.8", :required false, :repeats false, :type "ST"}]
    [:original-text
     {:field "CWE.9", :required false, :repeats false, :type "ST"}]]
   [:inventory-lot-number
    {:field "IIM.3", :required false, :repeats false, :type "ST"}]
   [:inventory-expiration-date
    {:field "IIM.4", :required false, :repeats false, :type "TS"}
    [:time
     {:field "TS.1", :required true, :repeats false, :type "DTM"}]
    [:degree-of-precision
     {:field "TS.2", :required false, :repeats false, :type "ID"}]]
   [:inventory-manufacturer-name
    {:field "IIM.5", :required false, :repeats false, :type "CWE"}
    [:identifier
     {:field "CWE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CWE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CWE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CWE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CWE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CWE.6", :required false, :repeats false, :type "ID"}]
    [:coding-system-version-id
     {:field "CWE.7", :required false, :repeats false, :type "ST"}]
    [:alternate-coding-system-version-id
     {:field "CWE.8", :required false, :repeats false, :type "ST"}]
    [:original-text
     {:field "CWE.9", :required false, :repeats false, :type "ST"}]]
   [:inventory-location
    {:field "IIM.6", :required false, :repeats false, :type "CWE"}
    [:identifier
     {:field "CWE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CWE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CWE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CWE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CWE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CWE.6", :required false, :repeats false, :type "ID"}]
    [:coding-system-version-id
     {:field "CWE.7", :required false, :repeats false, :type "ST"}]
    [:alternate-coding-system-version-id
     {:field "CWE.8", :required false, :repeats false, :type "ST"}]
    [:original-text
     {:field "CWE.9", :required false, :repeats false, :type "ST"}]]
   [:inventory-received-date
    {:field "IIM.7", :required false, :repeats false, :type "TS"}
    [:time
     {:field "TS.1", :required true, :repeats false, :type "DTM"}]
    [:degree-of-precision
     {:field "TS.2", :required false, :repeats false, :type "ID"}]]
   [:inventory-received-quantity
    {:field "IIM.8", :required false, :repeats false, :type "NM"}]
   [:inventory-received-quantity-unit
    {:field "IIM.9", :required false, :repeats false, :type "CWE"}
    [:identifier
     {:field "CWE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CWE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CWE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CWE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CWE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CWE.6", :required false, :repeats false, :type "ID"}]
    [:coding-system-version-id
     {:field "CWE.7", :required false, :repeats false, :type "ST"}]
    [:alternate-coding-system-version-id
     {:field "CWE.8", :required false, :repeats false, :type "ST"}]
    [:original-text
     {:field "CWE.9", :required false, :repeats false, :type "ST"}]]
   [:inventory-received-item-cost
    {:field "IIM.10", :required false, :repeats false, :type "MO"}
    [:quantity
     {:field "MO.1", :required false, :repeats false, :type "NM"}]
    [:denomination
     {:field "MO.2", :required false, :repeats false, :type "ID"}]]
   [:inventory-on-hand-date
    {:field "IIM.11", :required false, :repeats false, :type "TS"}
    [:time
     {:field "TS.1", :required true, :repeats false, :type "DTM"}]
    [:degree-of-precision
     {:field "TS.2", :required false, :repeats false, :type "ID"}]]
   [:inventory-on-hand-quantity
    {:field "IIM.12", :required false, :repeats false, :type "NM"}]
   [:inventory-on-hand-quantity-unit
    {:field "IIM.13", :required false, :repeats false, :type "CWE"}
    [:identifier
     {:field "CWE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CWE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CWE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CWE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CWE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CWE.6", :required false, :repeats false, :type "ID"}]
    [:coding-system-version-id
     {:field "CWE.7", :required false, :repeats false, :type "ST"}]
    [:alternate-coding-system-version-id
     {:field "CWE.8", :required false, :repeats false, :type "ST"}]
    [:original-text
     {:field "CWE.9", :required false, :repeats false, :type "ST"}]]
   [:procedure-code
    {:field "IIM.14", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ID"}]]
   [:procedure-code-modifier
    {:field "IIM.15", :required false, :repeats true, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ID"}]]]]]
