[:MFN_Znn
 [:MSH
  {:required true, :repeats false, :segment true}
  [:field-separator
   {:required true, :repeats false, :data-type :string}]
  [:encoding-characters
   {:required true, :repeats false, :data-type :string}]
  [:sending-application
   {:required false, :repeats false}
   [:namespace-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id-type
    {:required false, :repeats false, :data-type :string}]]
  [:sending-facility
   {:required false, :repeats false}
   [:namespace-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id-type
    {:required false, :repeats false, :data-type :string}]]
  [:receiving-application
   {:required false, :repeats false}
   [:namespace-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id-type
    {:required false, :repeats false, :data-type :string}]]
  [:receiving-facility
   {:required false, :repeats false}
   [:namespace-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id-type
    {:required false, :repeats false, :data-type :string}]]
  [:dateortime-of-message
   {:required true, :repeats false}
   [:time {:required true, :repeats false, :data-type :string}]
   [:degree-of-precision
    {:required false, :repeats false, :data-type :string}]]
  [:security {:required false, :repeats false, :data-type :string}]
  [:message-type
   {:required true, :repeats false}
   [:message-code {:required true, :repeats false, :data-type :string}]
   [:trigger-event
    {:required true, :repeats false, :data-type :string}]
   [:message-structure
    {:required true, :repeats false, :data-type :string}]]
  [:message-control-id
   {:required true, :repeats false, :data-type :string}]
  [:processing-id
   {:required true, :repeats false}
   [:processing-id
    {:required false, :repeats false, :data-type :string}]
   [:processing-mode
    {:required false, :repeats false, :data-type :string}]]
  [:version-id
   {:required true, :repeats false}
   [:version-id {:required false, :repeats false, :data-type :string}]
   [:internationalization-code
    {:required false, :repeats false}
    [:identifier {:required false, :repeats false, :data-type :string}]
    [:text {:required false, :repeats false, :data-type :string}]
    [:name-of-coding-system
     {:required false, :repeats false, :data-type :string}]
    [:alternate-identifier
     {:required false, :repeats false, :data-type :string}]
    [:alternate-text
     {:required false, :repeats false, :data-type :string}]
    [:name-of-alternate-coding-system
     {:required false, :repeats false, :data-type :string}]]
   [:international-version-id
    {:required false, :repeats false}
    [:identifier {:required false, :repeats false, :data-type :string}]
    [:text {:required false, :repeats false, :data-type :string}]
    [:name-of-coding-system
     {:required false, :repeats false, :data-type :string}]
    [:alternate-identifier
     {:required false, :repeats false, :data-type :string}]
    [:alternate-text
     {:required false, :repeats false, :data-type :string}]
    [:name-of-alternate-coding-system
     {:required false, :repeats false, :data-type :string}]]]
  [:sequence-number
   {:required false, :repeats false, :data-type :string}]
  [:continuation-pointer
   {:required false, :repeats false, :data-type :string}]
  [:accept-acknowledgment-type
   {:required false, :repeats false, :data-type :string}]
  [:application-acknowledgment-type
   {:required false, :repeats false, :data-type :string}]
  [:country-code {:required false, :repeats false, :data-type :string}]
  [:character-set {:required false, :repeats true, :data-type :string}]
  [:principal-language-of-message
   {:required false, :repeats false}
   [:identifier {:required false, :repeats false, :data-type :string}]
   [:text {:required false, :repeats false, :data-type :string}]
   [:name-of-coding-system
    {:required false, :repeats false, :data-type :string}]
   [:alternate-identifier
    {:required false, :repeats false, :data-type :string}]
   [:alternate-text
    {:required false, :repeats false, :data-type :string}]
   [:name-of-alternate-coding-system
    {:required false, :repeats false, :data-type :string}]]
  [:alternate-character-set-handling-scheme
   {:required false, :repeats false, :data-type :string}]
  [:message-profile-identifier
   {:required false, :repeats true}
   [:entity-identifier
    {:required false, :repeats false, :data-type :string}]
   [:namespace-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id-type
    {:required false, :repeats false, :data-type :string}]]]
 [:SFT
  {:required false, :repeats true, :segment true}
  [:software-vendor-organization
   {:required true, :repeats false}
   [:organization-name
    {:required false, :repeats false, :data-type :string}]
   [:organization-name-type-code
    {:required false, :repeats false, :data-type :string}]
   [:id-number {:required false, :repeats false, :data-type :string}]
   [:check-digit {:required false, :repeats false, :data-type :string}]
   [:check-digit-scheme
    {:required false, :repeats false, :data-type :string}]
   [:assigning-authority
    {:required false, :repeats false}
    [:namespace-id
     {:required false, :repeats false, :data-type :string}]
    [:universal-id
     {:required false, :repeats false, :data-type :string}]
    [:universal-id-type
     {:required false, :repeats false, :data-type :string}]]
   [:identifier-type-code
    {:required false, :repeats false, :data-type :string}]
   [:assigning-facility
    {:required false, :repeats false}
    [:namespace-id
     {:required false, :repeats false, :data-type :string}]
    [:universal-id
     {:required false, :repeats false, :data-type :string}]
    [:universal-id-type
     {:required false, :repeats false, :data-type :string}]]
   [:name-representation-code
    {:required false, :repeats false, :data-type :string}]
   [:organization-identifier
    {:required false, :repeats false, :data-type :string}]]
  [:software-certified-version-or-release-number
   {:required true, :repeats false, :data-type :string}]
  [:software-product-name
   {:required true, :repeats false, :data-type :string}]
  [:software-binary-id
   {:required true, :repeats false, :data-type :string}]
  [:software-product-information
   {:required false, :repeats false}
   [:escape]]
  [:software-install-date
   {:required false, :repeats false}
   [:time {:required true, :repeats false, :data-type :string}]
   [:degree-of-precision
    {:required false, :repeats false, :data-type :string}]]]
 [:MFI
  {:required true, :repeats false, :segment true}
  [:master-file-identifier
   {:required true, :repeats false}
   [:identifier {:required false, :repeats false, :data-type :string}]
   [:text {:required false, :repeats false, :data-type :string}]
   [:name-of-coding-system
    {:required false, :repeats false, :data-type :string}]
   [:alternate-identifier
    {:required false, :repeats false, :data-type :string}]
   [:alternate-text
    {:required false, :repeats false, :data-type :string}]
   [:name-of-alternate-coding-system
    {:required false, :repeats false, :data-type :string}]]
  [:master-file-application-identifier
   {:required false, :repeats false}
   [:namespace-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id-type
    {:required false, :repeats false, :data-type :string}]]
  [:filelevel-event-code
   {:required true, :repeats false, :data-type :string}]
  [:entered-dateortime
   {:required false, :repeats false}
   [:time {:required true, :repeats false, :data-type :string}]
   [:degree-of-precision
    {:required false, :repeats false, :data-type :string}]]
  [:effective-dateortime
   {:required false, :repeats false}
   [:time {:required true, :repeats false, :data-type :string}]
   [:degree-of-precision
    {:required false, :repeats false, :data-type :string}]]
  [:response-level-code
   {:required true, :repeats false, :data-type :string}]]
 [:MF_SITE_DEFINED
  {:required true, :repeats true}
  [:MFE
   {:required true, :repeats false, :segment true}
   [:recordlevel-event-code
    {:required true, :repeats false, :data-type :string}]
   [:mfn-control-id
    {:required false, :repeats false, :data-type :string}]
   [:effective-dateortime
    {:required false, :repeats false}
    [:time {:required true, :repeats false, :data-type :string}]
    [:degree-of-precision
     {:required false, :repeats false, :data-type :string}]]
   [:primary-key-value-mfe {:required true, :repeats true}]
   [:primary-key-value-type
    {:required true, :repeats true, :data-type :string}]]
  [:anyHL7Segment {:required true, :repeats false}]]]
