[:ORU_R01
 [nil nil]
 [nil
  nil
  [nil
   {:required false, :repeats true, :segment true}
   [nil nil [nil nil]]
   [nil
    nil
    [nil nil]
    [nil {:required true, :repeats false} [nil nil [nil nil]]]
    [nil {:required true, :repeats false} [nil nil [nil nil]]]
    [nil {:required true, :repeats false} [nil nil [nil nil]]]
    [nil {:required false, :repeats false} [nil nil [nil nil]]]
    [nil {:required false, :repeats false} [nil nil [nil nil]]]
    [nil nil [nil nil]]]]
  [nil
   {:required true, :repeats true}
   [nil nil [nil nil]]
   [nil
    nil
    [nil nil]
    [nil
     {:required true, :repeats true}
     [nil nil [nil nil] [nil nil [nil nil]]]
     [nil
      nil
      [nil nil]
      [nil nil [nil nil]]
      [nil
       {:required true, :repeats false, :segment true}
       [nil
        nil
        [nil nil]
        [nil nil [nil nil]]
        [nil nil [nil nil] [nil nil [nil nil]]]]
       [nil
        nil
        [nil nil]
        [nil nil [nil nil]]
        [nil nil [nil nil] [nil nil [nil nil]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required true, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         nil
         [nil nil]
         [nil nil [nil nil]]
         [nil nil [nil nil] [nil nil [nil nil]]]]]]
      [nil
       {:required false, :repeats true, :segment true}
       [nil
        nil
        [nil nil]
        [nil nil [nil nil]]
        [nil nil [nil nil] [nil nil [nil nil]]]]
       [nil
        nil
        [nil nil]
        [nil nil [nil nil]]
        [nil nil [nil nil] [nil nil [nil nil]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         nil
         [nil nil]
         [nil nil [nil nil]]
         [nil nil [nil nil] [nil nil [nil nil]]]]]]
      [nil
       {:required false, :repeats true}
       [nil
        nil
        [nil nil]
        [nil nil [nil nil]]
        [nil nil [nil nil] [nil nil [nil nil]]]]
       [nil
        nil
        [nil nil]
        [nil nil [nil nil]]
        [nil nil [nil nil] [nil nil [nil nil]]]
        [nil
         {:required false, :repeats true, :segment true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]
          [nil
           nil
           [nil nil]
           [nil nil [nil nil]]
           [nil nil [nil nil] [nil nil [nil nil]]]]]
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]
          [nil
           nil
           [nil nil]
           [nil nil [nil nil]]
           [nil nil [nil nil] [nil nil [nil nil]]]]
          [nil {:required false, :repeats false}]
          [nil {:required false, :repeats true}]
          [nil {:required false, :repeats true}]
          [nil {:required false, :repeats true}]
          [nil {:required false, :repeats false}]
          [nil {:required false, :repeats false}]
          [nil {:required false, :repeats false}]
          [nil {:required false, :repeats false}]
          [nil {:required false, :repeats false}]
          [nil
           nil
           [nil nil]
           [nil nil [nil nil]]
           [nil nil [nil nil] [nil nil [nil nil]]]
           [nil
            nil
            [nil nil]
            [nil nil [nil nil]]
            [nil nil [nil nil] [nil nil [nil nil]]]]]]]]]
      [nil
       {:required false, :repeats false, :segment true}
       [nil
        nil
        [nil nil]
        [nil nil [nil nil]]
        [nil nil [nil nil] [nil nil [nil nil]]]]
       [nil
        nil
        [nil nil]
        [nil nil [nil nil]]
        [nil nil [nil nil] [nil nil [nil nil]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         nil
         [nil nil]
         [nil nil [nil nil]]
         [nil nil [nil nil] [nil nil [nil nil]]]]]]
      [nil
       {:required false, :repeats true}
       [nil
        nil
        [nil nil]
        [nil nil [nil nil]]
        [nil nil [nil nil] [nil nil [nil nil]]]]
       [nil
        nil
        [nil nil]
        [nil nil [nil nil]]
        [nil nil [nil nil] [nil nil [nil nil]]]
        [nil
         {:required false, :repeats true, :segment true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]
          [nil
           nil
           [nil nil]
           [nil nil [nil nil]]
           [nil nil [nil nil] [nil nil [nil nil]]]]]
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]
          [nil
           nil
           [nil nil]
           [nil nil [nil nil]]
           [nil nil [nil nil] [nil nil [nil nil]]]]
          [nil {:required false, :repeats false}]
          [nil {:required false, :repeats true}]
          [nil {:required false, :repeats false}]
          [nil
           nil
           [nil nil]
           [nil nil [nil nil]]
           [nil nil [nil nil] [nil nil [nil nil]]]
           [nil
            nil
            [nil nil]
            [nil nil [nil nil]]
            [nil nil [nil nil] [nil nil [nil nil]]]]]]]]]
      [nil
       {:required false, :repeats true, :segment true}
       [nil
        nil
        [nil nil]
        [nil nil [nil nil]]
        [nil nil [nil nil] [nil nil [nil nil]]]]
       [nil
        nil
        [nil nil]
        [nil nil [nil nil]]
        [nil nil [nil nil] [nil nil [nil nil]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required true, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required true, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required true, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         nil
         [nil nil]
         [nil nil [nil nil]]
         [nil nil [nil nil] [nil nil [nil nil]]]]]]
      [nil
       {:required false, :repeats true, :segment true}
       [nil
        nil
        [nil nil]
        [nil nil [nil nil]]
        [nil nil [nil nil] [nil nil [nil nil]]]]
       [nil
        nil
        [nil nil]
        [nil nil [nil nil]]
        [nil nil [nil nil] [nil nil [nil nil]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         {:required false, :repeats false}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]]]
        [nil
         nil
         [nil nil]
         [nil nil [nil nil]]
         [nil nil [nil nil] [nil nil [nil nil]]]]]]
      [nil
       {:required false, :repeats true}
       [nil
        nil
        [nil nil]
        [nil nil [nil nil]]
        [nil nil [nil nil] [nil nil [nil nil]]]]
       [nil
        nil
        [nil nil]
        [nil nil [nil nil]]
        [nil nil [nil nil] [nil nil [nil nil]]]
        [nil
         {:required false, :repeats true, :segment true}
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]
          [nil
           nil
           [nil nil]
           [nil nil [nil nil]]
           [nil nil [nil nil] [nil nil [nil nil]]]]]
         [nil
          nil
          [nil nil]
          [nil nil [nil nil]]
          [nil nil [nil nil] [nil nil [nil nil]]]
          [nil
           nil
           [nil nil]
           [nil nil [nil nil]]
           [nil nil [nil nil] [nil nil [nil nil]]]]
          [nil {:required false, :repeats false}]
          [nil {:required true, :repeats false}]
          [nil {:required false, :repeats false}]
          [nil {:required false, :repeats true}]
          [nil {:required false, :repeats false}]
          [nil {:required false, :repeats false}]
          [nil {:required false, :repeats true}]
          [nil {:required false, :repeats false}]
          [nil {:required false, :repeats true}]
          [nil {:required true, :repeats false}]
          [nil {:required false, :repeats false}]
          [nil {:required false, :repeats false}]
          [nil {:required false, :repeats false}]
          [nil {:required false, :repeats false}]
          [nil {:required false, :repeats true}]
          [nil {:required false, :repeats true}]
          [nil {:required false, :repeats true}]
          [nil {:required false, :repeats false}]
          [nil {:required false}]
          [nil {:required false}]
          [nil {:required false}]
          [nil {:required false, :repeats false}]
          [nil {:required false, :repeats false}]
          [nil {:required false, :repeats false}]
          [nil
           nil
           [nil nil]
           [nil nil [nil nil]]
           [nil nil [nil nil] [nil nil [nil nil]]]
           [nil
            nil
            [nil nil]
            [nil nil [nil nil]]
            [nil nil [nil nil] [nil nil [nil nil]]]]]]]]]]]]]
  [nil
   {:required false, :repeats false, :segment true}
   [nil nil [nil nil]]
   [nil
    nil
    [nil nil]
    [nil {:required false, :repeats false} [nil nil [nil nil]]]
    [nil nil [nil nil]]]]]]
