[:QBP_Q13
 {:version "2.5.1"}
 [:MSH
  {:required false, :repeats false}
  [:field-separator
   {:field "MSH.1", :required true, :repeats false, :type "ST"}]
  [:encoding-characters
   {:field "MSH.2", :required true, :repeats false, :type "ST"}]
  [:sending-application
   {:field "MSH.3", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:sending-facility
   {:field "MSH.4", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:receiving-application
   {:field "MSH.5", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:receiving-facility
   {:field "MSH.6", :required false, :repeats false, :type "HD"}
   [:namespace-id
    {:field "HD.1", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "HD.2", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "HD.3", :required false, :repeats false, :type "ID"}]]
  [:dateortime-of-message
   {:field "MSH.7", :required true, :repeats false, :type "TS"}
   [:time {:field "TS.1", :required true, :repeats false, :type "DTM"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ID"}]]
  [:security
   {:field "MSH.8", :required false, :repeats false, :type "ST"}]
  [:message-type
   {:field "MSH.9", :required true, :repeats false, :type "MSG"}
   [:message-code
    {:field "MSG.1", :required true, :repeats false, :type "ID"}]
   [:trigger-event
    {:field "MSG.2", :required true, :repeats false, :type "ID"}]
   [:message-structure
    {:field "MSG.3", :required true, :repeats false, :type "ID"}]]
  [:message-control-id
   {:field "MSH.10", :required true, :repeats false, :type "ST"}]
  [:processing-id
   {:field "MSH.11", :required true, :repeats false, :type "PT"}
   [:processing-id
    {:field "PT.1", :required false, :repeats false, :type "ID"}]
   [:processing-mode
    {:field "PT.2", :required false, :repeats false, :type "ID"}]]
  [:version-id
   {:field "MSH.12", :required true, :repeats false, :type "VID"}
   [:version-id
    {:field "VID.1", :required false, :repeats false, :type "ID"}]
   [:internationalization-code
    {:field "VID.2", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ID"}]]
   [:international-version-id
    {:field "VID.3", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ID"}]]]
  [:sequence-number
   {:field "MSH.13", :required false, :repeats false, :type "NM"}]
  [:continuation-pointer
   {:field "MSH.14", :required false, :repeats false, :type "ST"}]
  [:accept-acknowledgment-type
   {:field "MSH.15", :required false, :repeats false, :type "ID"}]
  [:application-acknowledgment-type
   {:field "MSH.16", :required false, :repeats false, :type "ID"}]
  [:country-code
   {:field "MSH.17", :required false, :repeats false, :type "ID"}]
  [:character-set
   {:field "MSH.18", :required false, :repeats true, :type "ID"}]
  [:principal-language-of-message
   {:field "MSH.19", :required false, :repeats false, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ID"}]]
  [:alternate-character-set-handling-scheme
   {:field "MSH.20", :required false, :repeats false, :type "ID"}]
  [:message-profile-identifier
   {:field "MSH.21", :required false, :repeats true, :type "EI"}
   [:entity-identifier
    {:field "EI.1", :required false, :repeats false, :type "ST"}]
   [:namespace-id
    {:field "EI.2", :required false, :repeats false, :type "IS"}]
   [:universal-id
    {:field "EI.3", :required false, :repeats false, :type "ST"}]
   [:universal-id-type
    {:field "EI.4", :required false, :repeats false, :type "ID"}]]]
 [:SFT
  {:required false, :repeats true}
  [:software-vendor-organization
   {:field "SFT.1", :required true, :repeats false, :type "XON"}
   [:organization-name
    {:field "XON.1", :required false, :repeats false, :type "ST"}]
   [:organization-name-type-code
    {:field "XON.2", :required false, :repeats false, :type "IS"}]
   [:id-number
    {:field "XON.3", :required false, :repeats false, :type "NM"}]
   [:check-digit
    {:field "XON.4", :required false, :repeats false, :type "NM"}]
   [:check-digit-scheme
    {:field "XON.5", :required false, :repeats false, :type "ID"}]
   [:assigning-authority
    {:field "XON.6", :required false, :repeats false, :type "HD"}
    [:namespace-id
     {:field "HD.1", :required false, :repeats false, :type "IS"}]
    [:universal-id
     {:field "HD.2", :required false, :repeats false, :type "ST"}]
    [:universal-id-type
     {:field "HD.3", :required false, :repeats false, :type "ID"}]]
   [:identifier-type-code
    {:field "XON.7", :required false, :repeats false, :type "ID"}]
   [:assigning-facility
    {:field "XON.8", :required false, :repeats false, :type "HD"}
    [:namespace-id
     {:field "HD.1", :required false, :repeats false, :type "IS"}]
    [:universal-id
     {:field "HD.2", :required false, :repeats false, :type "ST"}]
    [:universal-id-type
     {:field "HD.3", :required false, :repeats false, :type "ID"}]]
   [:name-representation-code
    {:field "XON.9", :required false, :repeats false, :type "ID"}]
   [:organization-identifier
    {:field "XON.10", :required false, :repeats false, :type "ST"}]]
  [:software-certified-version-or-release-number
   {:field "SFT.2", :required true, :repeats false, :type "ST"}]
  [:software-product-name
   {:field "SFT.3", :required true, :repeats false, :type "ST"}]
  [:software-binary-id
   {:field "SFT.4", :required true, :repeats false, :type "ST"}]
  [:software-product-information
   {:field "SFT.5", :required false, :repeats false, :type "TX"}
   ["escape" {:type "escapeType"} ["escape" {:type "escapeType"}]]]
  [:software-install-date
   {:field "SFT.6", :required false, :repeats false, :type "TS"}
   [:time {:field "TS.1", :required true, :repeats false, :type "DTM"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ID"}]]]
 [:QPD
  {:required false, :repeats false}
  [:message-query-name
   {:field "QPD.1", :required true, :repeats false, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ID"}]]
  [:query-tag
   {:field "QPD.2", :required false, :repeats false, :type "ST"}]
  [:user-parameters
   {:field "QPD.3", :required false, :repeats false, :type "varies"}]]
 [:RDF
  {:required false, :repeats false}
  [:number-of-columns-per-row
   {:field "RDF.1", :required true, :repeats false, :type "NM"}]
  [:column-description
   {:field "RDF.2", :required true, :repeats true, :type "RCD"}
   [:segment-field-name
    {:field "RCD.1", :required false, :repeats false, :type "ST"}]
   [:hl7-data-type
    {:field "RCD.2", :required false, :repeats false, :type "ID"}]
   [:maximum-column-width
    {:field "RCD.3", :required false, :repeats false, :type "NM"}]]]
 [:RCP
  {:required false, :repeats false}
  [:query-priority
   {:field "RCP.1", :required false, :repeats false, :type "ID"}]
  [:quantity-limited-request
   {:field "RCP.2", :required false, :repeats false, :type "CQ"}
   [:quantity
    {:field "CQ.1", :required false, :repeats false, :type "NM"}]
   [:units
    {:field "CQ.2", :required false, :repeats false, :type "CE"}
    [:identifier
     {:field "CE.1", :required false, :repeats false, :type "ST"}]
    [:text
     {:field "CE.2", :required false, :repeats false, :type "ST"}]
    [:name-of-coding-system
     {:field "CE.3", :required false, :repeats false, :type "ID"}]
    [:alternate-identifier
     {:field "CE.4", :required false, :repeats false, :type "ST"}]
    [:alternate-text
     {:field "CE.5", :required false, :repeats false, :type "ST"}]
    [:name-of-alternate-coding-system
     {:field "CE.6", :required false, :repeats false, :type "ID"}]]]
  [:response-modality
   {:field "RCP.3", :required false, :repeats false, :type "CE"}
   [:identifier
    {:field "CE.1", :required false, :repeats false, :type "ST"}]
   [:text {:field "CE.2", :required false, :repeats false, :type "ST"}]
   [:name-of-coding-system
    {:field "CE.3", :required false, :repeats false, :type "ID"}]
   [:alternate-identifier
    {:field "CE.4", :required false, :repeats false, :type "ST"}]
   [:alternate-text
    {:field "CE.5", :required false, :repeats false, :type "ST"}]
   [:name-of-alternate-coding-system
    {:field "CE.6", :required false, :repeats false, :type "ID"}]]
  [:execution-and-delivery-time
   {:field "RCP.4", :required false, :repeats false, :type "TS"}
   [:time {:field "TS.1", :required true, :repeats false, :type "DTM"}]
   [:degree-of-precision
    {:field "TS.2", :required false, :repeats false, :type "ID"}]]
  [:modify-indicator
   {:field "RCP.5", :required false, :repeats false, :type "ID"}]
  [:sortby-field
   {:field "RCP.6", :required false, :repeats true, :type "SRT"}
   [:sortby-field
    {:field "SRT.1", :required true, :repeats false, :type "ST"}]
   [:sequencing
    {:field "SRT.2", :required false, :repeats false, :type "ID"}]]
  [:segment-group-inclusion
   {:field "RCP.7", :required false, :repeats true, :type "ID"}]]
 [:DSC
  {:required false, :repeats false}
  [:continuation-pointer
   {:field "DSC.1", :required false, :repeats false, :type "ST"}]
  [:continuation-style
   {:field "DSC.2", :required false, :repeats false, :type "ID"}]]]
