[:RTB_K13
 [:MSH
  {:required true, :repeats false, :segment true}
  [:field-separator
   {:required true, :repeats false, :data-type :string}]
  [:encoding-characters
   {:required true, :repeats false, :data-type :string}]
  [:sending-application
   {:required false, :repeats false}
   [:namespace-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id-type
    {:required false, :repeats false, :data-type :string}]]
  [:sending-facility
   {:required false, :repeats false}
   [:namespace-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id-type
    {:required false, :repeats false, :data-type :string}]]
  [:receiving-application
   {:required false, :repeats false}
   [:namespace-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id-type
    {:required false, :repeats false, :data-type :string}]]
  [:receiving-facility
   {:required false, :repeats false}
   [:namespace-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id-type
    {:required false, :repeats false, :data-type :string}]]
  [:dateortime-of-message
   {:required true, :repeats false}
   [:time {:required true, :repeats false, :data-type :string}]
   [:degree-of-precision
    {:required false, :repeats false, :data-type :string}]]
  [:security {:required false, :repeats false, :data-type :string}]
  [:message-type
   {:required true, :repeats false}
   [:message-code {:required true, :repeats false, :data-type :string}]
   [:trigger-event
    {:required true, :repeats false, :data-type :string}]
   [:message-structure
    {:required true, :repeats false, :data-type :string}]]
  [:message-control-id
   {:required true, :repeats false, :data-type :string}]
  [:processing-id
   {:required true, :repeats false}
   [:processing-id
    {:required false, :repeats false, :data-type :string}]
   [:processing-mode
    {:required false, :repeats false, :data-type :string}]]
  [:version-id
   {:required true, :repeats false}
   [:version-id {:required false, :repeats false, :data-type :string}]
   [:internationalization-code
    {:required false, :repeats false}
    [:identifier {:required false, :repeats false, :data-type :string}]
    [:text {:required false, :repeats false, :data-type :string}]
    [:name-of-coding-system
     {:required false, :repeats false, :data-type :string}]
    [:alternate-identifier
     {:required false, :repeats false, :data-type :string}]
    [:alternate-text
     {:required false, :repeats false, :data-type :string}]
    [:name-of-alternate-coding-system
     {:required false, :repeats false, :data-type :string}]]
   [:international-version-id
    {:required false, :repeats false}
    [:identifier {:required false, :repeats false, :data-type :string}]
    [:text {:required false, :repeats false, :data-type :string}]
    [:name-of-coding-system
     {:required false, :repeats false, :data-type :string}]
    [:alternate-identifier
     {:required false, :repeats false, :data-type :string}]
    [:alternate-text
     {:required false, :repeats false, :data-type :string}]
    [:name-of-alternate-coding-system
     {:required false, :repeats false, :data-type :string}]]]
  [:sequence-number
   {:required false, :repeats false, :data-type :string}]
  [:continuation-pointer
   {:required false, :repeats false, :data-type :string}]
  [:accept-acknowledgment-type
   {:required false, :repeats false, :data-type :string}]
  [:application-acknowledgment-type
   {:required false, :repeats false, :data-type :string}]
  [:country-code {:required false, :repeats false, :data-type :string}]
  [:character-set {:required false, :repeats true, :data-type :string}]
  [:principal-language-of-message
   {:required false, :repeats false}
   [:identifier {:required false, :repeats false, :data-type :string}]
   [:text {:required false, :repeats false, :data-type :string}]
   [:name-of-coding-system
    {:required false, :repeats false, :data-type :string}]
   [:alternate-identifier
    {:required false, :repeats false, :data-type :string}]
   [:alternate-text
    {:required false, :repeats false, :data-type :string}]
   [:name-of-alternate-coding-system
    {:required false, :repeats false, :data-type :string}]]
  [:alternate-character-set-handling-scheme
   {:required false, :repeats false, :data-type :string}]
  [:message-profile-identifier
   {:required false, :repeats true}
   [:entity-identifier
    {:required false, :repeats false, :data-type :string}]
   [:namespace-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id
    {:required false, :repeats false, :data-type :string}]
   [:universal-id-type
    {:required false, :repeats false, :data-type :string}]]]
 [:SFT
  {:required false, :repeats true, :segment true}
  [:software-vendor-organization
   {:required true, :repeats false}
   [:organization-name
    {:required false, :repeats false, :data-type :string}]
   [:organization-name-type-code
    {:required false, :repeats false, :data-type :string}]
   [:id-number {:required false, :repeats false, :data-type :string}]
   [:check-digit {:required false, :repeats false, :data-type :string}]
   [:check-digit-scheme
    {:required false, :repeats false, :data-type :string}]
   [:assigning-authority
    {:required false, :repeats false}
    [:namespace-id
     {:required false, :repeats false, :data-type :string}]
    [:universal-id
     {:required false, :repeats false, :data-type :string}]
    [:universal-id-type
     {:required false, :repeats false, :data-type :string}]]
   [:identifier-type-code
    {:required false, :repeats false, :data-type :string}]
   [:assigning-facility
    {:required false, :repeats false}
    [:namespace-id
     {:required false, :repeats false, :data-type :string}]
    [:universal-id
     {:required false, :repeats false, :data-type :string}]
    [:universal-id-type
     {:required false, :repeats false, :data-type :string}]]
   [:name-representation-code
    {:required false, :repeats false, :data-type :string}]
   [:organization-identifier
    {:required false, :repeats false, :data-type :string}]]
  [:software-certified-version-or-release-number
   {:required true, :repeats false, :data-type :string}]
  [:software-product-name
   {:required true, :repeats false, :data-type :string}]
  [:software-binary-id
   {:required true, :repeats false, :data-type :string}]
  [:software-product-information
   {:required false, :repeats false}
   [:escape]]
  [:software-install-date
   {:required false, :repeats false}
   [:time {:required true, :repeats false, :data-type :string}]
   [:degree-of-precision
    {:required false, :repeats false, :data-type :string}]]]
 [:MSA
  {:required true, :repeats false, :segment true}
  [:acknowledgment-code
   {:required true, :repeats false, :data-type :string}]
  [:message-control-id
   {:required true, :repeats false, :data-type :string}]
  [:text-message {:required false, :repeats false, :data-type :string}]
  [:expected-sequence-number
   {:required false, :repeats false, :data-type :string}]
  [:error-condition
   {:required false, :repeats false}
   [:identifier {:required false, :repeats false, :data-type :string}]
   [:text {:required false, :repeats false, :data-type :string}]
   [:name-of-coding-system
    {:required false, :repeats false, :data-type :string}]
   [:alternate-identifier
    {:required false, :repeats false, :data-type :string}]
   [:alternate-text
    {:required false, :repeats false, :data-type :string}]
   [:name-of-alternate-coding-system
    {:required false, :repeats false, :data-type :string}]]]
 [:ERR
  {:required false, :repeats false, :segment true}
  [:error-code-and-location
   {:required false, :repeats true}
   [:segment-id {:required false, :repeats false, :data-type :string}]
   [:segment-sequence
    {:required false, :repeats false, :data-type :string}]
   [:field-position
    {:required false, :repeats false, :data-type :string}]
   [:code-identifying-error
    {:required false, :repeats false}
    [:identifier {:required false, :repeats false, :data-type :string}]
    [:text {:required false, :repeats false, :data-type :string}]
    [:name-of-coding-system
     {:required false, :repeats false, :data-type :string}]
    [:alternate-identifier
     {:required false, :repeats false, :data-type :string}]
    [:alternate-text
     {:required false, :repeats false, :data-type :string}]
    [:name-of-alternate-coding-system
     {:required false, :repeats false, :data-type :string}]]]
  [:error-location
   {:required false, :repeats true}
   [:segment-id {:required true, :repeats false, :data-type :string}]
   [:segment-sequence
    {:required true, :repeats false, :data-type :string}]
   [:field-position
    {:required false, :repeats false, :data-type :string}]
   [:field-repetition
    {:required false, :repeats false, :data-type :string}]
   [:component-number
    {:required false, :repeats false, :data-type :string}]
   [:subcomponent-number
    {:required false, :repeats false, :data-type :string}]]
  [:hl7-error-code
   {:required true, :repeats false}
   [:identifier {:required false, :repeats false, :data-type :string}]
   [:text {:required false, :repeats false, :data-type :string}]
   [:name-of-coding-system
    {:required false, :repeats false, :data-type :string}]
   [:alternate-identifier
    {:required false, :repeats false, :data-type :string}]
   [:alternate-text
    {:required false, :repeats false, :data-type :string}]
   [:name-of-alternate-coding-system
    {:required false, :repeats false, :data-type :string}]
   [:coding-system-version-id
    {:required false, :repeats false, :data-type :string}]
   [:alternate-coding-system-version-id
    {:required false, :repeats false, :data-type :string}]
   [:original-text
    {:required false, :repeats false, :data-type :string}]]
  [:severity {:required true, :repeats false, :data-type :string}]
  [:application-error-code
   {:required false, :repeats false}
   [:identifier {:required false, :repeats false, :data-type :string}]
   [:text {:required false, :repeats false, :data-type :string}]
   [:name-of-coding-system
    {:required false, :repeats false, :data-type :string}]
   [:alternate-identifier
    {:required false, :repeats false, :data-type :string}]
   [:alternate-text
    {:required false, :repeats false, :data-type :string}]
   [:name-of-alternate-coding-system
    {:required false, :repeats false, :data-type :string}]
   [:coding-system-version-id
    {:required false, :repeats false, :data-type :string}]
   [:alternate-coding-system-version-id
    {:required false, :repeats false, :data-type :string}]
   [:original-text
    {:required false, :repeats false, :data-type :string}]]
  [:application-error-parameter
   {:required false, :repeats true, :data-type :string}]
  [:diagnostic-information {:required false, :repeats false} [:escape]]
  [:user-message {:required false, :repeats false} [:escape]]
  [:inform-person-indicator
   {:required false, :repeats true, :data-type :string}]
  [:override-type
   {:required false, :repeats false}
   [:identifier {:required false, :repeats false, :data-type :string}]
   [:text {:required false, :repeats false, :data-type :string}]
   [:name-of-coding-system
    {:required false, :repeats false, :data-type :string}]
   [:alternate-identifier
    {:required false, :repeats false, :data-type :string}]
   [:alternate-text
    {:required false, :repeats false, :data-type :string}]
   [:name-of-alternate-coding-system
    {:required false, :repeats false, :data-type :string}]
   [:coding-system-version-id
    {:required false, :repeats false, :data-type :string}]
   [:alternate-coding-system-version-id
    {:required false, :repeats false, :data-type :string}]
   [:original-text
    {:required false, :repeats false, :data-type :string}]]
  [:override-reason-code
   {:required false, :repeats true}
   [:identifier {:required false, :repeats false, :data-type :string}]
   [:text {:required false, :repeats false, :data-type :string}]
   [:name-of-coding-system
    {:required false, :repeats false, :data-type :string}]
   [:alternate-identifier
    {:required false, :repeats false, :data-type :string}]
   [:alternate-text
    {:required false, :repeats false, :data-type :string}]
   [:name-of-alternate-coding-system
    {:required false, :repeats false, :data-type :string}]
   [:coding-system-version-id
    {:required false, :repeats false, :data-type :string}]
   [:alternate-coding-system-version-id
    {:required false, :repeats false, :data-type :string}]
   [:original-text
    {:required false, :repeats false, :data-type :string}]]
  [:help-desk-contact-point
   {:required false, :repeats true}
   [:telephone-number
    {:required false, :repeats false, :data-type :string}]
   [:telecommunication-use-code
    {:required false, :repeats false, :data-type :string}]
   [:telecommunication-equipment-type
    {:required false, :repeats false, :data-type :string}]
   [:email-address
    {:required false, :repeats false, :data-type :string}]
   [:country-code
    {:required false, :repeats false, :data-type :string}]
   [:areaorcity-code
    {:required false, :repeats false, :data-type :string}]
   [:local-number
    {:required false, :repeats false, :data-type :string}]
   [:extension {:required false, :repeats false, :data-type :string}]
   [:any-text {:required false, :repeats false, :data-type :string}]
   [:extension-prefix
    {:required false, :repeats false, :data-type :string}]
   [:speed-dial-code
    {:required false, :repeats false, :data-type :string}]
   [:unformatted-telephone-number
    {:required false, :repeats false, :data-type :string}]]]
 [:QAK
  {:required true, :repeats false, :segment true}
  [:query-tag {:required false, :repeats false, :data-type :string}]
  [:query-response-status
   {:required false, :repeats false, :data-type :string}]
  [:message-query-name
   {:required false, :repeats false}
   [:identifier {:required false, :repeats false, :data-type :string}]
   [:text {:required false, :repeats false, :data-type :string}]
   [:name-of-coding-system
    {:required false, :repeats false, :data-type :string}]
   [:alternate-identifier
    {:required false, :repeats false, :data-type :string}]
   [:alternate-text
    {:required false, :repeats false, :data-type :string}]
   [:name-of-alternate-coding-system
    {:required false, :repeats false, :data-type :string}]]
  [:hit-count {:required false, :repeats false, :data-type :string}]
  [:this-payload {:required false, :repeats false, :data-type :string}]
  [:hits-remaining
   {:required false, :repeats false, :data-type :string}]]
 [:QPD
  {:required true, :repeats false, :segment true}
  [:message-query-name
   {:required true, :repeats false}
   [:identifier {:required false, :repeats false, :data-type :string}]
   [:text {:required false, :repeats false, :data-type :string}]
   [:name-of-coding-system
    {:required false, :repeats false, :data-type :string}]
   [:alternate-identifier
    {:required false, :repeats false, :data-type :string}]
   [:alternate-text
    {:required false, :repeats false, :data-type :string}]
   [:name-of-alternate-coding-system
    {:required false, :repeats false, :data-type :string}]]
  [:query-tag {:required false, :repeats false, :data-type :string}]
  [:user-parameters {:required false, :repeats false}]]
 [:ROW_DEFINITION
  {:required false, :repeats false}
  [:RDF
   {:required true, :repeats false, :segment true}
   [:number-of-columns-per-row
    {:required true, :repeats false, :data-type :string}]
   [:column-description
    {:required true, :repeats true}
    [:segment-field-name
     {:required false, :repeats false, :data-type :string}]
    [:hl7-data-type
     {:required false, :repeats false, :data-type :string}]
    [:maximum-column-width
     {:required false, :repeats false, :data-type :string}]]]
  [:RDT
   {:required false, :repeats true, :segment true}
   [:column-value {:required true, :repeats false}]]]
 [:DSC
  {:required false, :repeats false, :segment true}
  [:continuation-pointer
   {:required false, :repeats false, :data-type :string}]
  [:continuation-style
   {:required false, :repeats false, :data-type :string}]]]
